In [1]:
# from google.colab import drive
# drive.mount('/content/gdrive')
path_initial = "C:/Users/Richa/Desktop/upgrad/InvestmentCaseStudy/"

### Importing required Libraries

In [2]:
import pandas as pd
import numpy as np
import sys

### Checkpoint-1 Reading `companies` and `rounds2` dataset<br>
-    We are overriding default encoding **`utf-8`**  with **`latin`** to read the dataframe properly

In [3]:
companies = pd.read_csv(path_initial + 'companies.txt', sep = '\t', encoding='latin')
rounds2 = pd.read_csv(path_initial + 'rounds2.csv', encoding='latin')

### Let us see the data to get an idea of available columns and how the data looks

In [4]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [5]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [6]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

### So we can notice special characters in `permalink` and `name` columns in `companies` dataframe in tail section
### And same thing for `company_permalink` columns in `rounds2` dataframe
- Below logic is added to handle special characters

In [8]:
companies_columns_to_remove_special_char = ['permalink','name']
rounds2_columns_to_remove_special_char = ['company_permalink']

companies[companies_columns_to_remove_special_char] = companies[companies_columns_to_remove_special_char].applymap(lambda x 
                                                                                               : str(x).encode('utf-8').decode('ascii','ignore'))
rounds2[rounds2_columns_to_remove_special_char] = rounds2[rounds2_columns_to_remove_special_char].applymap(lambda x 
                                                                                               : str(x).encode('utf-8').decode('ascii','ignore'))

### Now let's see tail section of both the dataframes to check presence of special characters

In [9]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/Eron,ERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Asys-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [10]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

### Now we can see those special characters are removed

### Now let us get an idea about the shape and structure of `companies` dataframe

In [11]:
companies.shape

(66368, 10)

In [12]:
companies.describe()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
count,66368,66368,61310,63220,66368,59410,57821,58338,58340,51147
unique,66368,66103,61191,27296,4,137,311,1092,5111,3978
top,/Organization/Teak,Karma,http://www.askforoffer.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012
freq,1,4,5,3995,53034,37601,12900,8804,3526,2730

In [13]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66368 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [14]:
rounds2.shape

(114949, 6)

In [15]:
rounds2.describe()

       raised_amount_usd
count       9.495900e+04
mean        1.042687e+07
std         1.148212e+08
min         0.000000e+00
25%         3.225000e+05
50%         1.680511e+06
75%         7.000000e+06
max         2.127194e+10

In [16]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

 <font color='green'>From `companies.describe()` command we can get an idea that `permalink` might be the right canddate to uniquely identify companies in `companies` df</font>
- Because out of 66368 records all are unique
- But to be sure we need to check in case insentivie way
- Also by seeing column names it looks like apart from `permalink` , `name` or `homepage_url` might be used to identify companies uniquely
- Let us confirm this

In [17]:
# companies df duplicate count case-insensitive

companies_columnss_to_check_duplicates = ['permalink','name','homepage_url']
pd.DataFrame(list(map(lambda x : 
                      (x, np.sum(companies[x].str.upper().duplicated())), 
                      companies_columnss_to_check_duplicates)), 
             columns=['col_name', 'duplicate_count'])

       col_name  duplicate_count
0     permalink                0
1          name              330
2  homepage_url             5180

In [18]:
# rounds2 df duplicate count case-insensitive

rounds2_columnss_to_check_duplicates = ['company_permalink','funding_round_permalink']
pd.DataFrame(list(map(lambda x : 
                      (x, np.sum(rounds2[x].str.upper().duplicated())), 
                      rounds2_columnss_to_check_duplicates)), 
             columns=['col_name', 'duplicate_count'])

                  col_name  duplicate_count
0        company_permalink            48581
1  funding_round_permalink                0

- ###  <font color='green'> From above 2 commands it is clearly evident that </font>
  
 1.    Unique Identifier for `companies` is `permalink`

 2.    Unique identifier for `rounds2` is `funding_round_permalink`

### Unique companies present in `rounds2`

In [19]:
np.sum(rounds2['company_permalink'].str.upper().duplicated()==False)

66368

### Unique companies present in `companies`

In [20]:
np.sum(companies['permalink'].str.upper().duplicated()==False)

66368

### Companies present in `rounds2` df but not in `companies` df

In [21]:
set(rounds2.company_permalink.str.upper()) - set(companies.permalink.str.upper())

set()

### Let us see Companies present in `companies df` df but not in `rounds2`

In [22]:
set(companies.permalink.str.upper()) - set(rounds2.company_permalink.str.upper())

set()

- ### <font color='green'>From the above result we can see both the dataframes have same companies</font>

### Let us check if removing special characters from dataframes made any impact or not

In [23]:
companies_test = pd.read_csv(path_initial + 'companies.txt', sep = '\t', encoding='latin')
rounds2_test = pd.read_csv(path_initial + 'rounds2.csv', encoding='latin')

set(companies_test.permalink.str.upper()) - set(rounds2_test.company_permalink.str.upper())

{'/ORGANIZATION/E-CÃ\x9aBICA',
 '/ORGANIZATION/ENERGYSTONE-GAMES-Ç\x81ΜÇŸ³Æ¸¸Æ\x88\x8f',
 '/ORGANIZATION/HUIZUCHE-COM-Æ\x83\xa0Ç§\x9fÈ½¦',
 '/ORGANIZATION/TIPCAT-INTERACTIVE-Æ²\x99È\x88\x9fÄ¿¡Æ\x81¯Ç§\x91Æ\x9a\x80',
 '/ORGANIZATION/ZENGAME-Ç¦\x85Æ¸¸Ç§\x91Æ\x9a\x80'}

- ### So we can conclude handling the special characters impacted our analysis in a positive way

### Before merging we need to make the joining column in uppercase as pandas unlike sql does not join in a case insenitive way

In [24]:
companies.permalink = companies.permalink.str.upper()

In [25]:
rounds2.company_permalink = rounds2.company_permalink.str.upper()

In [26]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [27]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

- ### Now merge the 2 dataframes to create `master_frame`
- We can do inner join safely as both dataframes has same number of unique companies and their difference set has 0 element as seen above

In [28]:
master_frame = companies.merge(rounds2, how='inner', left_on=['permalink'], right_on=['company_permalink'])
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

#### Below command will correct the display of  the numeric field

In [29]:
pd.options.display.float_format = "{:.2f}".format

In [30]:
master_frame.shape

(114949, 16)

In [31]:
master_frame.describe()

       raised_amount_usd
count           94959.00
mean         10426869.33
std         114821247.98
min                 0.00
25%            322500.00
50%           1680511.00
75%           7000000.00
max       21271935000.00

In [32]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
permalink                  114949 non-null object
name                       114949 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

- ### Now  let us verify the missing / Null /NaN values and check if we can do anything

In [33]:
round(100*master_frame.isna().mean(),2)

permalink                  0.00
name                       0.00
homepage_url               5.34
category_list              2.97
status                     0.00
country_code               7.55
state_code                 9.52
region                     8.84
city                       8.84
founded_at                17.85
company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
funding_round_code        72.91
funded_at                  0.00
raised_amount_usd         17.39
dtype: float64

- ### Checkpoint 2-Funding Type Analysis

- ### As our analysis is based on Investment generated, we will focus on raised_amount_usd

- ### Out of ths 17.39% missing values in `raised_amount_usd` let us see share by `funding_round_type`

In [34]:
total_funding_type_count = pd.DataFrame(master_frame.groupby('funding_round_type',sort=True)['funding_round_type'].count())

missing_fund_value_for_type_count = master_frame[master_frame.raised_amount_usd.isna()].groupby('funding_round_type',sort=True)['funding_round_type'].count()

percentage_missing = round(100*(master_frame[master_frame.raised_amount_usd.isna()].groupby('funding_round_type',sort=True)['funding_round_type'].count())/(master_frame.groupby('funding_round_type',sort=True)['funding_round_type'].count()),2)

z = pd.concat([total_funding_type_count,missing_fund_value_for_type_count,percentage_missing],axis=1)

z.columns=['Total_Records','Missing_Fund_Value','Missing_Percentage']
z

C:\Users\Richa\OneDrive\Documents\New folder\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

                       Total_Records  Missing_Fund_Value  Missing_Percentage
angel                           6094             1234.00               20.25
convertible_note                1817              370.00               20.36
debt_financing                  6895              213.00                3.09
equity_crowdfunding             3257             2029.00               62.30
grant                           2200               76.00                3.45
non_equity_assistance            191              118.00               61.78
post_ipo_debt                    152                 nan                 nan
post_ipo_equity                  638               10.00                1.57
private_equity                  2285              349.00               15.27
product_crowdfunding             410               24.00                5.85
secondary_market                  95               65.00               68.42
seed                           30524             6921.00               22.67
undisclosed                     4897             3315.00               67.69
venture                        55494             5266.00                9.49


1.   venture - 9.49%
2.   angel - 20.25%
3.   seed - 22.67%
4.   private_equity - 15.27%

So we can see some dataquality issue here, There are more than 20% missing value in some of the funding type.

Though this indicates data quality issue, to give better suggestion to Spark Funds we should impute them

In [35]:
pd.options.display.float_format = "{:.2f}".format

- ### Describe() command ignores missing and NAN value while calculating mean , count ,Std, min for numeric fields so we don't need to impute  those rows where raised_amount_usd is 0 for funding type analyis

In [36]:
##Calcualte average for funding type 

master_frame['raised_amount_usd'].groupby(master_frame['funding_round_type']).describe()

,count,mean,std,min,25%,50%,75%,max
funding_round_type,,,,,,,,
angel,4860.00,958694.47,7404397.12,0.00,150000.00,400000.00,1000000.00,494511992.00
convertible_note,1447.00,1453438.54,8043846.14,0.00,78847.50,272000.00,1000000.00,185048285.00
debt_financing,6682.00,17043526.02,280320356.61,0.00,330484.25,1100000.00,4000000.00,21271935000.00
equity_crowdfunding,1228.00,538368.21,1719329.42,0.00,7000.00,100000.00,395901.00,27400000.00
grant,2124.00,4300576.34,25587424.15,0.00,50000.00,201684.00,1700000.00,750000000.00
non_equity_assistance,73.00,411203.05,1771747.25,0.00,25000.00,60000.00,125000.00,15000000.00
post_ipo_debt,152.00,168704571.82,602473804.43,70000.00,4000000.00,19950000.00,60000000.00,5800000000.00
post_ipo_equity,628.00,82182493.87,469188915.85,77.00,3764794.00,12262852.50,40000000.00,10664943639.00
private_equity,1936.00,73308593.03,198113458.41,0.00,5000000.00,20000000.00,75000000.00,4745460219.00
product_crowdfunding,386.00,1363131.07,4698379.78,0.00,40241.75,183915.00,735000.00,52000000.00
secondary_market,30.00,79649630.10,140103760.22,2323.00,5025000.00,32600000.00,84475000.00,680611554.00
seed,23603.00,719818.00,2221732.80,0.00,55000.00,275000.00,1000000.00,200000000.00
undisclosed,1582.00,19242370.23,199323809.16,0.00,220000.00,1018680.00,4848804.00,5000000000.00
venture,50228.00,11748949.13,86352066.56,0.00,1600901.75,5000000.00,12000000.00,17600000000.00


- ### Considering that Spark Funds wants to invest between 5 to 15 million USD per investment round

- ### Calculating investment type which is the most suitable

In [37]:
average_ft= master_frame['raised_amount_usd'].groupby(master_frame['funding_round_type']).mean()
average_ft.sort_values(ascending = False) 
most_suitable_ft = average_ft[average_ft.between(5000000,15000000) ].index[0]
most_suitable_ft

'venture'

In [38]:
master_frame.loc[master_frame.category_list.isna()].head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
99,/ORGANIZATION/123FENG-COM,123Feng.Com,http://123feng.com/,NaN,operating,CHN,2,Hangzhou,Hangzhou,01-01-2014,/ORGANIZATION/123FENG-COM,/funding-round/9d83084d87dc63a309c9a6fe9bf59d1b,venture,A,27-10-2015,13000000.00
123,/ORGANIZATION/15FEN,15Fen,http://www.15fen.com/,NaN,operating,CHN,30,Guangzhou,Guangzhou,NaN,/ORGANIZATION/15FEN,/funding-round/b660e2c345e5cda7db2f1e0176a450b3,seed,NaN,15-12-2013,nan
133,/ORGANIZATION/17-MEDIA,17 Media,http://17.media,NaN,operating,NaN,NaN,NaN,NaN,15-07-2015,/ORGANIZATION/17-MEDIA,/funding-round/f8ffde9fa822843ac6ea9b66cc615df1,venture,A,05-11-2015,10000000.00
181,/ORGANIZATION/1MXIANS,1mxians,http://www.1mxian.com/,NaN,operating,CHN,22,Beijing,Beijing,01-01-2014,/ORGANIZATION/1MXIANS,/funding-round/6950448f81c6706abe61f659e15a7c87,venture,A,02-12-2015,15000000.00
185,/ORGANIZATION/1RP-MEDIA,1RP Media,NaN,NaN,operating,USA,CA,Los Angeles,Los Angeles,01-01-2011,/ORGANIZATION/1RP-MEDIA,/funding-round/f7400a94939ef73f70af0c52b54b31ce,seed,NaN,29-06-2012,nan

In [39]:
#Get all the unique funding type 
pd.unique(master_frame.funding_round_type)

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

- ### Checkpoint 3-Country Analysis

In [40]:
# Read english speaking countries csv data

countries = pd.read_csv(path_initial + 'Country_Codes.csv')
# countries.head()
countries

                             Country Code  ENG
0                           Botswana  BWA  Yes
1                           Cameroon  CMR  Yes
2                           Ethiopia  ETH  Yes
3                            Eritrea  ERI  Yes
4                         The Gambia  GMB  Yes
5                              Ghana  GHA  Yes
6                              Kenya  KEN  Yes
7                            Lesotho  LSO  Yes
8                            Liberia  LBR  Yes
9                             Malawi  MWI  Yes
10                         Mauritius  MUS  Yes
11                           Namibia  NAM  Yes
12                           Nigeria  NGA  Yes
13                            Rwanda  RWA  Yes
14                        Seychelles  SYC  Yes
15                      Sierra Leone  SLE  Yes
16                      South Africa  ZAF  Yes
17                       South Sudan  SSD  Yes
18                             Sudan  SDN  Yes
19                         Swaziland  SWZ  Yes
20                          Tanzania  TZA  Yes
21                            Uganda  UGA  Yes
22                            Zambia  ZMB  Yes
23                          Zimbabwe  ZWE  Yes
24               Antigua and Barbuda  ATG  Yes
25                       The Bahamas  BHS  Yes
26                          Barbados  BRB  Yes
27                            Belize  BLZ  Yes
28                            Canada  CAN  Yes
29                          Dominica  DMA  Yes
30                           Grenada  GRD  Yes
31                            Guyana  GUY  Yes
32                           Jamaica  JAM  Yes
33             Saint Kitts and Nevis  KNA  Yes
34                       Saint Lucia  LCA  Yes
35  Saint Vincent and the Grenadines  VCT  Yes
36               Trinidad and Tobago  TTO  Yes
37                     United States  USA  Yes
38                             India  IND  Yes
39                          Pakistan  PAK  Yes
40                       Philippines  PHL  Yes
41                         Singapore  SGP  Yes
42                         Australia  AUS  Yes
43                              Fiji  FJI  Yes
44                          Kiribati  KIR  Yes
45                  Marshall Islands  MHL  Yes
46    Federated States of Micronesia  FSM  Yes
47                             Nauru  NRU  Yes
48                       New Zealand  NZL  Yes
49                             Palau  PLW  Yes
50                  Papua New Guinea  PNG  Yes
51                             Samoa  WSM  Yes
52                   Solomon Islands  SLB  Yes
53                             Tonga  TON  Yes
54                            Tuvalu  TUV  Yes
55                           Vanuatu  VUT  Yes
56                           Ireland  IRL  Yes
57                             Malta  MLT  Yes
58                    United Kingdom  GBR  Yes

In [41]:
## lets see in how many record counrty is blank
round(100*master_frame.isna().mean(),2)

permalink                  0.00
name                       0.00
homepage_url               5.34
category_list              2.97
status                     0.00
country_code               7.55
state_code                 9.52
region                     8.84
city                       8.84
founded_at                17.85
company_permalink          0.00
funding_round_permalink    0.00
funding_round_type         0.00
funding_round_code        72.91
funded_at                  0.00
raised_amount_usd         17.39
dtype: float64

- ### As there are some rows where county is blank so we will apply inner join to remove those rows

In [42]:
master_frame = master_frame.merge(countries[['Country','Code']], how='inner', left_on='country_code', right_on='Code')

In [43]:
## Check master_frame 
master_frame.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00,India,IND
1,/ORGANIZATION/1000LOOKZ,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,/ORGANIZATION/1000LOOKZ,/funding-round/e07f6e580046d00c7aeb33fafb9d90a3,venture,NaN,22-07-2013,nan,India,IND
2,/ORGANIZATION/1CLICK,1CLICK,http://1click.io,Chat|Mobile,acquired,IND,19,Bangalore,Bangalore,01-11-2012,/ORGANIZATION/1CLICK,/funding-round/19c77bc4b09e68e62f9a376d24115be4,seed,NaN,26-01-2014,nan,India,IND
3,/ORGANIZATION/21DIAMONDS-INDIA,21Diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,/ORGANIZATION/21DIAMONDS-INDIA,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,C,15-11-2012,6369507.00,India,IND
4,/ORGANIZATION/247-LEARNING-PRIVATE,24x7 Learning,http://www.24x7learning.com,EdTech|Education|Systems,operating,IND,19,Bangalore,Bangalore,01-01-2001,/ORGANIZATION/247-LEARNING-PRIVATE,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,NaN,06-11-2007,4000000.00,India,IND

In [44]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86441 entries, 0 to 86440
Data columns (total 18 columns):
permalink                  86441 non-null object
name                       86441 non-null object
homepage_url               82355 non-null object
category_list              85170 non-null object
status                     86441 non-null object
country_code               86441 non-null object
state_code                 85323 non-null object
region                     85879 non-null object
city                       85881 non-null object
founded_at                 73647 non-null object
company_permalink          86441 non-null object
funding_round_permalink    86441 non-null object
funding_round_type         86441 non-null object
funding_round_code         23838 non-null object
funded_at                  86441 non-null object
raised_amount_usd          73541 non-null float64
Country                    86441 non-null object
Code                       86441 non-null object
dtypes: float64(1), object(17)
memory usage: 12.5+ MB

- ### Find the Country where most investment is done in funding type = Most suitable Funding type (Venture)

In [45]:
grpby_obj = master_frame.loc[master_frame.funding_round_type == most_suitable_ft ].groupby('Country')['raised_amount_usd']

In [46]:
top9 = pd.DataFrame(grpby_obj.sum().sort_values(ascending = False)).iloc[0:9,]

In [47]:
top9

                raised_amount_usd
Country
United States     422510842796.00
United Kingdom     20245627416.00
India              14391858718.00
Canada              9583332317.00
Singapore           2793917856.00
Ireland             1676131350.00
Australia           1322934948.00
New Zealand          448316383.00
Nigeria              245440000.00

In [48]:
## Top three country
top9.head(3)

                raised_amount_usd
Country
United States     422510842796.00
United Kingdom     20245627416.00
India              14391858718.00

- ### Checkpoint 4 Sector Anlaysis 1
- ### Reading `mappings` file

In [49]:
mappings = pd.read_csv(path_initial + 'mapping.csv')
mappings

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0
6,Ad Targeting,0,0,0,0,0,0,0,0,1
7,Advanced Materials,0,0,0,0,0,1,0,0,0
8,Adventure Travel,1,0,0,0,0,0,0,0,0
9,Advertising,0,0,0,0,0,0,0,0,1
10,Advertising Exchanges,0,0,0,0,0,0,0,0,1
11,Advertising Networks,0,0,0,0,0,0,0,0,1
12,Advertising Platforms,0,0,0,0,0,0,0,0,1
13,Advice,0,0,0,0,0,0,0,1,0
14,Aerospace,1,0,0,0,0,0,0,0,0
15,Agriculture,0,0,0,0,0,1,0,0,0
16,Air Pollution Control,0,0,1,0,0,0,0,0,0
17,Algorithms,0,0,0,0,0,0,0,1,0
18,All Markets,0,0,0,0,0,0,0,1,0
19,All Students,0,0,0,0,0,0,0,1,0
20,Alter0tive Medicine,0,0,0,0,1,0,0,0,0
21,Alumni,0,0,0,0,0,0,0,1,0
22,A0lytics,0,0,0,0,0,0,0,0,1
23,Android,0,0,0,0,0,0,0,0,1
24,Angels,0,0,0,0,0,0,0,1,0
25,Animal Feed,0,0,0,0,1,0,0,0,0
26,Anything Capital Intensive,0,0,0,0,0,0,0,0,1
27,App Discovery,0,0,0,0,0,0,1,0,0
28,App Marketing,0,0,0,0,0,0,1,0,0
29,App Stores,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
658,Usability,0,0,0,0,0,0,0,1,0
659,User Experience Design,0,0,0,0,0,0,0,1,0
660,User Interface,0,0,0,0,0,0,0,1,0
661,Utilities,0,0,0,0,0,0,0,1,0
662,Vending and Concessions,0,0,0,0,0,0,0,1,0
663,Venture Capital,0,0,0,0,0,0,0,0,1
664,Veteri0ry,0,0,0,0,1,0,0,0,0
665,Video,0,0,0,1,0,0,0,0,0
666,Video Conferencing,0,0,0,1,0,0,0,0,0
667,Video Games,0,0,0,1,0,0,0,0,0
668,Video on Demand,0,0,0,1,0,0,0,0,0
669,Video Streaming,0,0,0,1,0,0,0,0,0
670,Virtual Workforces,0,0,0,1,0,0,0,0,0
671,VoIP,0,0,0,1,0,0,0,0,0
672,Waste Ma0gement,0,0,1,0,0,0,0,0,0
673,Watch,0,0,0,0,0,0,0,1,0
674,Water,0,0,1,0,0,0,0,0,0
675,Water Purification,0,0,1,0,0,0,0,0,0
676,Wearables,0,0,1,0,0,0,0,0,0
677,Web Browsers,0,0,0,0,0,0,1,0,0
678,Web Design,0,0,0,0,0,0,1,0,0
679,Web Development,0,0,0,0,0,0,0,1,0
680,Web Hosting,0,0,0,0,0,0,0,1,0
681,Web Tools,0,0,0,0,0,0,0,1,0
682,Weddings,0,0,0,1,0,0,0,0,0
683,Wholesale,0,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,0,1,0,0,0,0,0
685,Wireless,0,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,0,1,0

In [50]:
#Lets check mapping file

mappings.shape

(688, 10)

In [51]:
mappings.describe()

,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
count,688.00,688.00,688.00,688.00,688.00,688.00,688.00,688.00,688.00
mean,0.03,0.00,0.08,0.13,0.09,0.06,0.10,0.28,0.22
std,0.18,0.04,0.27,0.34,0.29,0.23,0.31,0.45,0.42
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [52]:
mappings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 10 columns):
category_list                              687 non-null object
Automotive & Sports                        688 non-null int64
Blanks                                     688 non-null int64
Cleantech / Semiconductors                 688 non-null int64
Entertainment                              688 non-null int64
Health                                     688 non-null int64
Manufacturing                              688 non-null int64
News, Search and Messaging                 688 non-null int64
Others                                     688 non-null int64
Social, Finance, Analytics, Advertising    688 non-null int64
dtypes: int64(9), object(1)
memory usage: 53.8+ KB

In [53]:
mappings.loc[mappings.Blanks == 1]

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0

- Lets Validate if any category is classified in more than one or none category

In [54]:
mappings.loc[mappings.sum(axis=1) != 1]

Empty DataFrame
Columns: [category_list, Automotive & Sports, Blanks, Cleantech / Semiconductors, Entertainment, Health, Manufacturing, News, Search and Messaging, Others, Social, Finance, Analytics, Advertising]
Index: []

In [55]:
np.sum(mappings.category_list.duplicated() == False)

688

In [56]:
master_frame['primary_sector'] , master_frame['temp_sector'] = master_frame['category_list'] .str.split('|',1).str

master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,temp_sector
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00,India,IND,Media,NaN
1,/ORGANIZATION/1000LOOKZ,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,/ORGANIZATION/1000LOOKZ,/funding-round/e07f6e580046d00c7aeb33fafb9d90a3,venture,NaN,22-07-2013,nan,India,IND,Beauty,NaN
2,/ORGANIZATION/1CLICK,1CLICK,http://1click.io,Chat|Mobile,acquired,IND,19,Bangalore,Bangalore,01-11-2012,/ORGANIZATION/1CLICK,/funding-round/19c77bc4b09e68e62f9a376d24115be4,seed,NaN,26-01-2014,nan,India,IND,Chat,Mobile
3,/ORGANIZATION/21DIAMONDS-INDIA,21Diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,/ORGANIZATION/21DIAMONDS-INDIA,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,C,15-11-2012,6369507.00,India,IND,E-Commerce,NaN
4,/ORGANIZATION/247-LEARNING-PRIVATE,24x7 Learning,http://www.24x7learning.com,EdTech|Education|Systems,operating,IND,19,Bangalore,Bangalore,01-01-2001,/ORGANIZATION/247-LEARNING-PRIVATE,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,NaN,06-11-2007,4000000.00,India,IND,EdTech,Education|Systems

In [57]:
master_frame=master_frame.drop("temp_sector",axis= 1) #dropping temporary column

master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00,India,IND,Media
1,/ORGANIZATION/1000LOOKZ,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,/ORGANIZATION/1000LOOKZ,/funding-round/e07f6e580046d00c7aeb33fafb9d90a3,venture,NaN,22-07-2013,nan,India,IND,Beauty
2,/ORGANIZATION/1CLICK,1CLICK,http://1click.io,Chat|Mobile,acquired,IND,19,Bangalore,Bangalore,01-11-2012,/ORGANIZATION/1CLICK,/funding-round/19c77bc4b09e68e62f9a376d24115be4,seed,NaN,26-01-2014,nan,India,IND,Chat
3,/ORGANIZATION/21DIAMONDS-INDIA,21Diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,/ORGANIZATION/21DIAMONDS-INDIA,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,C,15-11-2012,6369507.00,India,IND,E-Commerce
4,/ORGANIZATION/247-LEARNING-PRIVATE,24x7 Learning,http://www.24x7learning.com,EdTech|Education|Systems,operating,IND,19,Bangalore,Bangalore,01-01-2001,/ORGANIZATION/247-LEARNING-PRIVATE,/funding-round/4cd5cd165bc869bc40705a9e4b626bee,venture,NaN,06-11-2007,4000000.00,India,IND,EdTech

In [58]:
# Converting values in Mapping Dataframe to Column Headings to get Sector names for each Category List
temp_mapdf = pd.melt(mappings , id_vars = ['category_list'] , var_name = 'main_sector')
mapdf = temp_mapdf[temp_mapdf['value']>0]
mapdf.head()

       category_list          main_sector  value
8   Adventure Travel  Automotive & Sports      1
14         Aerospace  Automotive & Sports      1
45              Auto  Automotive & Sports      1
46   Automated Kiosk  Automotive & Sports      1
47        Automotive  Automotive & Sports      1

In [59]:
#   So lets check the unique value of primary sector in master data frame 
pd.unique(master_frame.primary_sector)

array(['Media', 'Beauty', 'Chat', 'E-Commerce', 'EdTech', 'Internet',
       '3D', 'Mobile', 'Games', 'Software', 'Finance', 'Consulting',
       'Advertising', 'Business Services', 'Crowdsourcing', 'Energy',
       'Curated Web', 'Internet Service Providers', 'Cloud Management',
       'Child Care', 'Classifieds', 'Entertainment',
       'Advertising Platforms', 'Analytics', 'Tracking', 'Match-Making',
       'Consumer Internet', 'Health and Wellness', 'Aerospace',
       'BPO Services', 'Hardware + Software', 'Apps', 'Electric Vehicles',
       'Automotive', 'Networking', 'Digital Media', 'Enterprise Software',
       'Content', 'Credit', 'Education', 'Information Technology',
       'Human Resources', 'Concentrated Solar Power', 'Online Scheduling',
       'Real Estate', 'Consumer Electronics', 'Network Security',
       'Journalism', 'Clean Technology', 'Cloud Security', 'Guides',
       'Security', 'Collaboration', 'Consumer Goods', 'Biotechnology',
       'SaaS', 'Financial Services', 'Hospitality', 'Service Providers',
       'Food Processing', 'Credit Cards', 'Discounts', nan, 'Messaging',
       'Fashion', 'Big Data', 'Hardware', 'Restaurants', 'B2B',
       'Marketplaces', 'Employment', 'Delivery', 'Data Integration',
       'Public Transportation', 'Product Development Services',
       'Services', 'Bitcoin', 'Coffee', 'College Campuses', 'Furniture',
       'Manufacturing', 'Home Decor', 'Android', 'Market Research',
       'Knowledge Management', 'Utilities', 'News', 'Engineering Firms',
       'Distribution', 'Startups', 'Semiconductors', 'Transportation',
       'Accounting', 'Travel', 'Enterprises', 'All Students',
       'Application Platforms', 'Entrepreneur', 'Governments',
       'Information Services', 'Intellectual Asset Management',
       'Big Data Analytics', 'Insurance', 'Banking', 'CRM', 'Mobility',
       'Art', 'Browser Extensions', 'Health Care', 'Technology',
       'Customer Service', 'Computers', 'Advice', 'Data Security',
       'Facebook Applications', 'Logistics', 'Online Shopping', 'Dental',
       'Design', 'Communities', 'Music', 'Social Media', 'Diagnostics',
       'Pets', 'Game', 'Farming', 'Cloud Computing', 'Plumbers',
       'Web Design', 'Agriculture', 'Corporate Training', 'Medical',
       'Retail', 'Colleges', 'Chemicals', 'Local Businesses',
       'Mobile Commerce', 'General Public Worldwide', 'Algorithms',
       'Electronics', 'Event Management', 'Travel & Tourism',
       'Renewable Energies', 'Social Media Marketing', 'Mobile Shopping',
       'Consumers', 'Fitness', 'Real Time', 'Cooking',
       'Content Discovery', 'Recycling', 'Brand Marketing',
       'Broadcasting', 'E-Commerce Platforms', 'Professional Services',
       'Search', 'Environmental Innovation', 'Gift Exchange', 'Coupons',
       'Audio', 'Home Automation', 'Marketing Automation', 'Events',
       'Nonprofits', 'Business Intelligence', 'Resorts',
       'Interior Design', 'Baby Accessories', 'Hotels', 'Recruiting',
       'Computer Vision', 'Data Center Automation', 'Photography',
       'Career Management', 'Artificial Intelligence', 'Designers',
       'Lifestyle', 'Telecommunications', 'Gift Card',
       'Industrial Automation', 'Industrial', 'Organic', 'Publishing',
       'Local Search', 'Cars', 'Jewelry', 'Infrastructure Builders',
       'Investment Management', 'Content Creators',
       'New Product Development', 'Internet Marketing', 'Graphics',
       'Pharmaceuticals', 'Photo Sharing', 'Business Development',
       'Doctors', 'Hospitals', 'Skill Assessment',
       'Bridging Online and Offline', 'Enterprise Hardware', 'Kids',
       'Fruit', 'Public Relations', 'Career Planning', 'Babies',
       'Advertising Networks', 'Moneymaking', 'Educational Games',
       'Trading', 'Web Hosting', 'Wireless', 'Innovation Engineering',
       'Location Based Services', 'App Stores', 'Online Gaming',
       'Active Lifestyle', 'Ad Targeting', 'Property Management',
       'Bio-Pharm', 'Construction', 'Textiles', 'Air Pollution Control',
       'Comparison Shopping', 'Commercial Real Estate', 'FinTech',
       'Mobile Payments', 'Development Platforms', 'Image Recognition',
       'Mobile Advertising', 'Minerals', 'Peer-to-Peer', 'Online Travel',
       'Cloud Infrastructure', 'All Markets', 'Information Security',
       'Leisure', 'Cosmetics', 'Non Profit', 'Clean Energy',
       'Health Care Information Technology', 'Search Marketing',
       'Price Comparison', 'Communications Infrastructure',
       'Retail Technology', 'Brokers', 'Blogging Platforms',
       'Language Learning', 'Water Purification', 'Staffing Firms',
       'Local Based Services', 'Domains', 'Indians', 'Business Analytics',
       'Auctions', 'Outsourcing', 'Financial Exchanges',
       'Social + Mobile + Local', 'Video Streaming', 'Databases',
       'Logistics Company', 'Emerging Markets', 'Weddings',
       'Online Rental', 'Crowdfunding', 'Private Social Networking',
       'Creative', 'Groceries', 'Batteries', 'Sports',
       'Health Diagnostics', 'Landscaping', 'DIY', 'Presentations',
       'Internet of Things', 'Data Centers', 'Point of Sale',
       'Project Management', '3D Technology', '3D Printing', 'Drones',
       'Printing', 'Automated Kiosk', 'Cloud Data Services',
       'Developer APIs', 'App Marketing', 'Physical Security',
       'Flash Storage', 'Machine Learning', 'Anything Capital Intensive',
       'Healthcare Services', 'Nanotechnology', 'Digital Entertainment',
       'Exercise', 'Contact Centers', 'Limousines', 'Charity',
       'Health and Insurance', 'Oil & Gas', 'Audiobooks',
       'Sales and Marketing', 'M2M', 'Local', 'Contact Management',
       'Electrical Distribution', 'Payments', 'Homeland Security',
       'Medical Devices', 'Internet Radio Market', 'Finance Technology',
       'Employer Benefits Programs', 'Collectibles', 'Mobile Security',
       'Assisitive Technology', 'DOD/Military', 'Archiving',
       'Advertising Exchanges', 'Cause Marketing',
       'Human Resource Automation', 'Adventure Travel', 'Politics',
       'Embedded Hardware and Software', 'Gps', 'Direct Sales',
       'Augmented Reality', 'Alumni', 'Ediscovery', 'Brewing',
       'Reviews and Recommendations', 'Legal', 'Lasers',
       'Social Network Media', 'Intellectual Property',
       'Content Syndication', 'Business Productivity', 'Charter Schools',
       'Architecture', 'Animal Feed', 'Consumer Behavior', 'Defense',
       'Video', 'Content Delivery', 'Data Mining', 'Specialty Chemicals',
       'Digital Signage', 'Carbon', 'iPad', 'Communications Hardware',
       'Fantasy Sports', 'Social Commerce', 'Watch', 'Wine And Spirits',
       'Cannabis', 'Specialty Foods', 'Distributors', 'Waste Management',
       'Commercial Solar', 'Energy Efficiency', 'Material Science',
       'Biometrics', 'Incubators', 'Bioinformatics', 'Online Dating',
       'Identity', 'Collaborative Consumption', 'Email Marketing', 'VoIP',
       'Gold', 'Reputation', 'Ticketing', 'Real Estate Investors',
       'Social Fundraising', 'App Discovery', 'Government Innovation',
       'Productivity Software', 'Application Performance Monitoring',
       'iPhone', 'Opinions', 'Cyber Security', 'Developer Tools',
       'Corporate IT', 'Energy Management', 'Aquaculture', 'Email', 'CAD',
       'Therapeutics', 'Billing', 'Data Privacy', 'Fuels', 'Diabetes',
       'Small and Medium Businesses', 'Simulation', 'Sporting Goods',
       'SEO', 'Artists Globally', 'Licensing', 'Film', 'Charities',
       'Lead Generation', 'Lead Management', 'Auto', 'Sales Automation',
       'Private School', 'Water', 'Document Management', 'Maps',
       'Public Safety', 'Corporate Wellness', 'Enterprise Search',
       'Mobile Software Tools', 'File Sharing', 'Advanced Materials',
       'Social Media Platforms', 'Custom Retail',
       'Entertainment Industry', 'Venture Capital', 'Clinical Trials',
       'Musical Instruments', 'Oil and Gas', 'Personalization',
       'Creative Industries', 'Deep Information Technology',
       'Freelancers', 'Internet Infrastructure', 'Coworking',
       'Dietary Supplements', 'E-Books', 'Celebrity', 'Building Products',
       'Consumer Lending', 'Customer Support Tools', 'Genetic Testing',
       'College Recruiting', 'Cyber', 'Gadget', 'Open Source',
       'Film Production', 'Craft Beer', 'Office Space', 'Robotics',
       'Infrastructure', 'Life Sciences', 'Fraud Detection',
       'IT and Cybersecurity', 'IT Management', 'Generation Y-Z',
       'New Technologies', 'Recreation', 'Direct Marketing', 'EBooks',
       'Comics', 'Non-Tech', 'Loyalty Programs', 'K-12 Education',
       'Home & Garden', 'Spas', 'Law Enforcement', 'Mass Customization',
       'Bicycles', 'Wearables', 'Digital Rights Management',
       'Organic Food', 'Mining Technologies', 'Optical Communications',
       'EDA Tools', 'Parking', 'Data Visualization', 'Elder Care',
       'Electronic Health Records', 'Assisted Living', 'Baby Boomers',
       'Fleet Management', 'Cable', 'Social Media Advertising',
       'Personal Finance', 'Gambling', 'Health Services Industry',
       'Identity Management', 'Email Newsletters',
       'Medical Professionals', 'Mobile Games', 'iOS', 'Tea', 'Religion',
       'Innovation Management', 'PaaS', 'Parenting', 'Civil Engineers',
       'Angels', 'Natural Gas Uses', 'Cloud-Based Music',
       'Internet Technology', 'Alternative Medicine', 'Web Development',
       'Optimization', 'Forums', 'Pervasive Computing', 'Geospatial',
       'Natural Language Processing', 'Storage', 'Lighting',
       'Intelligent Systems', 'Incentives', 'Adaptive Equipment',
       'Fertility', 'Enterprise 2.0', 'Call Center Automation',
       'Console Gaming', 'Linux', 'Risk Management', 'SexTech', 'Shoes',
       'Contests', 'Natural Resources', 'Data Center Infrastructure',
       'Business Information Systems', 'Humanitarian', 'Concerts', 'Fmcg',
       'Governance', 'Funeral Industry', 'Mobile Health', 'Privacy',
       'Meeting Software', 'Mobile Devices', 'Game Mechanics',
       'Enterprise Application', 'Freemium', 'Personal Branding',
       'Systems', 'Mobile Video', 'Tutoring', 'Shipping',
       'Supply Chain Management', 'Heavy Industry', 'Translation',
       'Displays', 'Biomass Power Generation', 'Internet TV', 'Biofuels',
       'Online Video Advertising',
       'Semiconductor Manufacturing Equipment', 'Clean Technology IT',
       'Synchronization', 'Farmers Market', 'Senior Citizens', 'Gas',
       'Skill Gaming', 'Unmanned Air Systems', 'Commodities',
       'Photo Editing', 'Eyewear', 'Human Computer Interaction',
       'Music Services', 'Demographies', 'Online Reservations',
       'Social CRM', 'High Schools', 'Specialty Retail',
       'Home Renovation', 'Business Travelers', 'Field Support Services',
       'Gamification', 'Tourism', 'Interest Graph', 'Toys',
       'Social Games', 'Outdoors', 'Sensors', 'Television', 'Polling',
       'Oil', 'Vending and Concessions', 'RFID', 'Golf Equipment',
       'Handmade', 'Certification Test', 'Shopping',
       'Biotechnology and Semiconductor', 'Mobile Enterprise',
       'Home Owners', 'Disruptive Models', 'Portals', 'Training',
       'Google Glass', 'Group Buying', 'Web Browsers',
       'High School Students', 'Debt Collecting', 'Indoor Positioning',
       'Video on Demand', 'P2P Money Transfer', 'Video Conferencing',
       'Early-Stage Technology', 'Product Design', 'Boating Industry',
       'Rapidly Expanding', 'High Tech', 'Theatre', 'Web Tools',
       'Enterprise Resource Planning', 'Group Email', 'Edutainment',
       'Service Industries', 'Mens Specific', 'Gift Registries',
       'Baby Safety', 'Local Advertising', 'Social Media Management',
       'In-Flight Entertainment', 'Lifestyle Products',
       'Cosmetic Surgery', 'Energy IT', 'University Students', 'Families',
       'Rental Housing', 'Mobile Analytics', 'Video Games',
       'Space Travel', 'Nutrition', 'Renewable Tech', 'Navigation',
       'Mobile Social', 'FreetoPlay Gaming', 'Product Search',
       'Online Identity', 'Universities', 'B2B Express Delivery',
       'Physicians', 'Green', 'Direct Advertising', 'Senior Health',
       'Local Commerce', 'QR Codes', 'Realtors', 'Mechanical Solutions',
       'Interface Design', 'Solar', 'Kinect', 'Impact Investing',
       'Predictive Analytics', 'Psychology', 'Hedge Funds',
       'Music Venues', 'Enterprise Security', 'Independent Music Labels',
       'Music Education', 'Independent Pharmacies',
       'Lifestyle Businesses', 'GreenTech', 'Mobile Infrastructure',
       'Green Consumer Goods', 'Retirement', 'Professional Networking',
       'Social Travel', 'Personal Health', 'Enterprise Purchasing',
       'Young Adults', 'Lingerie', 'Soccer', 'MicroBlogging',
       'Procurement', 'Film Distribution', 'Surveys',
       'User Experience Design', 'Social News', 'Social Buying',
       'Homeless Shelter', 'Neuroscience', 'Subscription Service',
       'Online Education', 'Flash Sales', 'Mobile Emergency&Health',
       'User Interface', 'Virtual Workforces', 'Gay & Lesbian', 'Q&A',
       'Postal and Courier Services', 'Task Management',
       'Speech Recognition', 'Swimming', 'Face Recognition', 'mHealth',
       'Estimation and Quoting', 'Wholesale', 'IaaS', 'Racing',
       'Registrars', 'Flowers', 'Subscription Businesses',
       'Personal Data', 'Social Business', 'Veterinary', 'Musicians',
       'Stock Exchanges', 'Building Owners', 'English-Speaking',
       'China Internet', 'Taxis', 'Social Bookmarking', 'Sex Industry'],
      dtype=object)

In [60]:
pd.unique(mappings.category_list)

array([nan, '3D', '3D Printing', '3D Technology', 'Accounting',
       'Active Lifestyle', 'Ad Targeting', 'Advanced Materials',
       'Adventure Travel', 'Advertising', 'Advertising Exchanges',
       'Advertising Networks', 'Advertising Platforms', 'Advice',
       'Aerospace', 'Agriculture', 'Air Pollution Control', 'Algorithms',
       'All Markets', 'All Students', 'Alter0tive Medicine', 'Alumni',
       'A0lytics', 'Android', 'Angels', 'Animal Feed',
       'Anything Capital Intensive', 'App Discovery', 'App Marketing',
       'App Stores', 'Application Performance Monitoring',
       'Application Platforms', 'Apps', 'Aquaculture', 'Architecture',
       'Archiving', 'Art', 'Artificial Intelligence', 'Artists Globally',
       'Assisitive Technology', 'Assisted Living', 'Auctions', 'Audio',
       'Audiobooks', 'Augmented Reality', 'Auto', 'Automated Kiosk',
       'Automotive', 'B2B', 'B2B Express Delivery', 'Babies',
       'Baby Accessories', 'Baby Boomers', 'Baby Safety', 'Banking',
       'Batteries', 'Beauty', 'Bicycles', 'Big Data', 'Big Data A0lytics',
       'Billing', 'Bio-Pharm', 'Biofuels', 'Bioinformatics',
       'Biomass Power Generation', 'Biometrics', 'Biotechnology',
       'Bitcoin', 'Blogging Platforms', 'Boating Industry',
       'BPO Services', 'Brand Marketing', 'Brewing',
       'Bridging Online and Offline', 'Broadcasting', 'Brokers',
       'Browser Extensions', 'Building Owners', 'Building Products',
       'Business A0lytics', 'Business Development',
       'Business Information Systems', 'Business Intelligence',
       'Business Productivity', 'Business Services', 'Business Travelers',
       'Cable', 'CAD', 'Call Center Automation', 'Can0bis', 'Carbon',
       'Career Ma0gement', 'Career Planning', 'Cars', 'Casual Games',
       'Celebrity', 'Certification Test', 'Charities', 'Charity',
       'Charter Schools', 'Chat', 'Chemicals', 'Child Care',
       'Chi0 Internet', 'Civil Engineers', 'Classifieds', 'Clean Energy',
       'Clean Technology', 'Clean Technology IT', 'Clinical Trials',
       'Cloud-Based Music', 'Cloud Computing', 'Cloud Data Services',
       'Cloud Infrastructure', 'Cloud Ma0gement', 'Cloud Security',
       'Coffee', 'Collaboration', 'Collaborative Consumption',
       'Collectibles', 'College Campuses', 'College Recruiting',
       'Colleges', 'Comics', 'Commercial Real Estate', 'Commercial Solar',
       'Commodities', 'Communications Hardware',
       'Communications Infrastructure', 'Communities',
       'Comparison Shopping', 'Computer Vision', 'Computers',
       'Concentrated Solar Power', 'Concerts', 'Console Gaming',
       'Construction', 'Consulting', 'Consumer Behavior',
       'Consumer Electronics', 'Consumer Goods', 'Consumer Internet',
       'Consumer Lending', 'Consumers', 'Contact Centers',
       'Contact Ma0gement', 'Content', 'Content Creators',
       'Content Delivery', 'Content Discovery', 'Content Syndication',
       'Contests', 'Cooking', 'Corporate IT', 'Corporate Training',
       'Corporate Wellness', 'Cosmetic Surgery', 'Cosmetics', 'Coupons',
       'Coworking', 'Craft Beer', 'Creative', 'Creative Industries',
       'Credit', 'Credit Cards', 'CRM', 'Crowdfunding', 'Crowdsourcing',
       'Curated Web', 'Custom Retail', 'Customer Service',
       'Customer Support Tools', 'Cyber', 'Cyber Security',
       'Data Center Automation', 'Data Center Infrastructure',
       'Data Centers', 'Data Integration', 'Data Mining', 'Data Privacy',
       'Data Security', 'Data Visualization', 'Databases',
       'Debt Collecting', 'Defense', 'Delivery', 'Demographies', 'Dental',
       'Design', 'Designers', 'Developer APIs', 'Developer Tools',
       'Development Platforms', 'Diabetes', 'Diagnostics',
       'Dietary Supplements', 'Digital Entertainment', 'Digital Media',
       'Digital Rights Ma0gement', 'Digital Sig0ge', 'Direct Advertising',
       'Direct Marketing', 'Direct Sales', 'Discounts', 'Displays',
       'Disruptive Models', 'Distribution', 'Distributors', 'DIY',
       'Doctors', 'Document Ma0gement', 'DOD/Military', 'Domains',
       'Drones', 'E-Books', 'E-Commerce', 'E-Commerce Platforms',
       'Early-Stage Technology', 'EBooks', 'EDA Tools', 'Ediscovery',
       'EdTech', 'Education', 'Educatio0l Games', 'Edutainment',
       'Elder Care', 'Electric Vehicles', 'Electrical Distribution',
       'Electronic Health Records', 'Electronics', 'Email',
       'Email Marketing', 'Email Newsletters',
       'Embedded Hardware and Software', 'Emerging Markets',
       'Employer Benefits Programs', 'Employment', 'Energy',
       'Energy Efficiency', 'Energy IT', 'Energy Ma0gement',
       'Energy Storage', 'Engineering Firms', 'Enterprise 2.0',
       'Enterprise Application', 'Enterprise Purchasing',
       'Enterprise Resource Planning', 'Enterprise Search',
       'Enterprise Security', 'Enterprise Software', 'Enterprises',
       'Entertainment', 'Entertainment Industry', 'Entrepreneur',
       'Environmental Innovation', 'Estimation and Quoting',
       'Event Ma0gement', 'Events', 'Exercise', 'Eyewear',
       'Face Recognition', 'Facebook Applications', 'Families',
       'Fantasy Sports', 'Farmers Market', 'Farming', 'Fashion',
       'Fertility', 'Field Support Services', 'File Sharing', 'Film',
       'Film Distribution', 'Film Production', 'Fi0nce',
       'Fi0nce Technology', 'Fi0ncial Exchanges', 'Fi0ncial Services',
       'FinTech', 'Fitness', 'Flash Sales', 'Flash Storage',
       'Fleet Ma0gement', 'Flowers', 'Fmcg', 'Food Processing', 'Forums',
       'Fraud Detection', 'Freelancers', 'Freemium', 'FreetoPlay Gaming',
       'Fruit', 'Fuel Cells', 'Fuels', 'Funeral Industry', 'Furniture',
       'Gadget', 'Gambling', 'Game', 'Game Mechanics', 'Games',
       'Gamification', 'Gas', 'Gay & Lesbian', 'General Public Worldwide',
       'Genetic Testing', 'Geospatial', 'Gift Card', 'Gift Exchange',
       'Gift Registries', 'Gold', 'Gover0nce', 'Government Innovation',
       'Governments', 'Gps', 'Graphics', 'Green', 'Green Consumer Goods',
       'Groceries', 'Group Buying', 'Group SMS', 'Guides', 'Handmade',
       'Hardware', 'Hardware + Software', 'Health and Insurance',
       'Health and Wellness', 'Health Care',
       'Health Care Information Technology', 'Health Diagnostics',
       'Health Services Industry', 'Healthcare Services',
       'Heavy Industry', 'Hedge Funds', 'High School Students',
       'High Schools', 'High Tech', 'Home & Garden', 'Home Automation',
       'Home Decor', 'Home Owners', 'Home Renovation',
       'Homeland Security', 'Homeless Shelter', 'Hospitality',
       'Hospitals', 'Hotels', 'Human Computer Interaction',
       'Human Resource Automation', 'Human Resources', 'Humanitarian',
       'IaaS', 'ICT', 'Identity', 'Identity Ma0gement',
       'Image Recognition', 'Impact Investing', 'In-Flight Entertainment',
       'Incentives', 'Incubators', 'Independent Music Labels',
       'Independent Pharmacies', 'Indians', 'Indoor Positioning',
       'Industrial', 'Industrial Automation', 'Information Security',
       'Information Services', 'Information Technology', 'Infrastructure',
       'Innovation Engineering', 'Innovation Ma0gement', 'Insurance',
       'Intellectual Asset Ma0gement', 'Intellectual Property',
       'Intelligent Systems', 'Interest Graph', 'Interface Design',
       'Interior Design', 'Internet', 'Internet Infrastructure',
       'Internet Marketing', 'Internet of Things',
       'Internet Radio Market', 'Internet Service Providers',
       'Investment Ma0gement', 'iOS', 'iPad', 'iPhone',
       'IT and Cybersecurity', 'IT Ma0gement', 'Jewelry', 'Jour0lism',
       'K-12 Education', 'Kids', 'Knowledge Ma0gement', 'Landscaping',
       'Language Learning', 'Lasers', 'Law Enforcement',
       'Lead Generation', 'Lead Ma0gement', 'Legal', 'Leisure',
       'Licensing', 'Life Sciences', 'Lifestyle', 'Lifestyle Businesses',
       'Lifestyle Products', 'Lighting', 'Limousines', 'Linux', 'Local',
       'Local Advertising', 'Local Based Services', 'Local Businesses',
       'Local Commerce', 'Local Search', 'Location Based Services',
       'Logistics', 'Logistics Company', 'Lotteries', 'Low Bid Auctions',
       'Loyalty Programs', 'M2M', 'Machine Learning', 'Manufacturing',
       'Maps', 'Market Research', 'Marketing Automation', 'Marketplaces',
       'Mass Customization', 'Match-Making', 'Material Science',
       'Mechanical Solutions', 'Media', 'Medical', 'Medical Devices',
       'Medical Professio0ls', 'Meeting Software', 'Mens Specific',
       'Messaging', 'mHealth', 'Micro-Enterprises', 'MicroBlogging',
       'Minerals', 'Mining Technologies', 'Mobile', 'Mobile Advertising',
       'Mobile A0lytics', 'Mobile Commerce', 'Mobile Devices',
       'Mobile Enterprise', 'Mobile Games', 'Mobile Health',
       'Mobile Infrastructure', 'Mobile Payments', 'Mobile Security',
       'Mobile Shopping', 'Mobile Social', 'Mobile Software Tools',
       'Mobile Video', 'Mobility', 'Monetization', 'Moneymaking',
       'Multi-level Marketing', 'Music', 'Music Education',
       'Music Services', 'Music Venues', 'Musical Instruments',
       'Musicians', '0notechnology', '0tural Language Processing',
       '0tural Resources', '0vigation', 'Network Security', 'Networking',
       'Neuroscience', 'New Product Development', 'New Technologies',
       'News', 'Non-Tech', 'Non Profit', 'Nonprofits', 'Nutrition',
       'Office Space', 'Oil', 'Oil & Gas', 'Oil and Gas', 'Online Dating',
       'Online Education', 'Online Gaming', 'Online Identity',
       'Online Rental', 'Online Reservations', 'Online Scheduling',
       'Online Shopping', 'Online Travel', 'Online Video Advertising',
       'Open Source', 'Opinions', 'Optical Communications',
       'Optimization', 'Organic', 'Organic Food', 'Outdoors',
       'Outsourcing', 'P2P Money Transfer', 'PaaS', 'Parenting',
       'Parking', 'Payments', 'Peer-to-Peer', 'Performance Marketing',
       'Perso0l Branding', 'Perso0l Data', 'Perso0l Fi0nce',
       'Perso0l Health', 'Perso0lization', 'Pervasive Computing', 'Pets',
       'Pharmaceuticals', 'Photo Editing', 'Photo Sharing', 'Photography',
       'Physical Security', 'Physicians', 'Plumbers', 'Point of Sale',
       'Politics', 'Polling', 'Portals', 'Postal and Courier Services',
       'Pre Seed', 'Predictive A0lytics', 'Presentations',
       'Price Comparison', 'Printing', 'Privacy', 'Private School',
       'Private Social Networking', 'Procurement', 'Product Design',
       'Product Development Services', 'Productivity',
       'Productivity Software', 'Professio0l Networking',
       'Professio0l Services', 'Project Ma0gement', 'Promotio0l',
       'Property Ma0gement', 'Public Relations', 'Public Safety',
       'Public Transportation', 'Publishing', 'Q&A', 'QR Codes',
       'Real Estate', 'Real Time', 'Realtors', 'Recreation', 'Recruiting',
       'Recycling', 'Religion', 'Renewable Energies', 'Renewable Tech',
       'Rental Housing', 'Reputation', 'Resorts', 'Restaurants', 'Retail',
       'Retail Technology', 'Reviews and Recommendations', 'RFID',
       'Ride Sharing', 'Risk Ma0gement', 'Robotics', 'SaaS',
       'Sales and Marketing', 'Sales Automation', 'Search',
       'Search Marketing', 'Security',
       'Semiconductor Manufacturing Equipment', 'Semiconductors',
       'Senior Citizens', 'Senior Health', 'Sensors', 'SEO',
       'Service Industries', 'Service Providers', 'Services', 'SexTech',
       'Shared Services', 'Shipping', 'Shoes', 'Shopping', 'Simulation',
       'Skill Assessment', 'Small and Medium Businesses', 'Smart Grid',
       'SNS', 'Soccer', 'Social + Mobile + Local', 'Social Bookmarking',
       'Social Business', 'Social Buying', 'Social Commerce',
       'Social CRM', 'Social Fundraising', 'Social Games', 'Social Media',
       'Social Media Ma0gement', 'Social Media Marketing',
       'Social Media Platforms', 'Social Network Media', 'Social News',
       'Social Recruiting', 'Social Television', 'Social Travel',
       'Software', 'Solar', 'Space Travel', 'Specialty Chemicals',
       'Specialty Foods', 'Speech Recognition', 'Sporting Goods',
       'Sports', 'Staffing Firms', 'Startups', 'Stock Exchanges',
       'Storage', 'Subscription Service', 'Supply Chain Ma0gement',
       'Surveys', 'Synchronization', 'Systems', 'Task Ma0gement', 'Taxis',
       'Tea', 'Technology', 'Telecommunications', 'Television',
       'Textiles', 'Theatre', 'Therapeutics', 'Ticketing', 'Tourism',
       'Tracking', 'Trading', 'Training', 'Translation', 'Transportation',
       'Travel', 'Travel & Tourism', 'Universities',
       'University Students', 'Unmanned Air Systems', 'Usability',
       'User Experience Design', 'User Interface', 'Utilities',
       'Vending and Concessions', 'Venture Capital', 'Veteri0ry', 'Video',
       'Video Conferencing', 'Video Games', 'Video on Demand',
       'Video Streaming', 'Virtual Workforces', 'VoIP', 'Waste Ma0gement',
       'Watch', 'Water', 'Water Purification', 'Wearables',
       'Web Browsers', 'Web Design', 'Web Development', 'Web Hosting',
       'Web Tools', 'Weddings', 'Wholesale', 'Wine And Spirits',
       'Wireless', 'Women', 'Young Adults'], dtype=object)

- ### We can see there are some category where 0 need to be replaced by na

In [61]:
mappings['category_list'] = mappings['category_list'].str.replace('0','na')
pd.unique(mappings.category_list)

array([nan, '3D', '3D Printing', '3D Technology', 'Accounting',
       'Active Lifestyle', 'Ad Targeting', 'Advanced Materials',
       'Adventure Travel', 'Advertising', 'Advertising Exchanges',
       'Advertising Networks', 'Advertising Platforms', 'Advice',
       'Aerospace', 'Agriculture', 'Air Pollution Control', 'Algorithms',
       'All Markets', 'All Students', 'Alternative Medicine', 'Alumni',
       'Analytics', 'Android', 'Angels', 'Animal Feed',
       'Anything Capital Intensive', 'App Discovery', 'App Marketing',
       'App Stores', 'Application Performance Monitoring',
       'Application Platforms', 'Apps', 'Aquaculture', 'Architecture',
       'Archiving', 'Art', 'Artificial Intelligence', 'Artists Globally',
       'Assisitive Technology', 'Assisted Living', 'Auctions', 'Audio',
       'Audiobooks', 'Augmented Reality', 'Auto', 'Automated Kiosk',
       'Automotive', 'B2B', 'B2B Express Delivery', 'Babies',
       'Baby Accessories', 'Baby Boomers', 'Baby Safety', 'Banking',
       'Batteries', 'Beauty', 'Bicycles', 'Big Data',
       'Big Data Analytics', 'Billing', 'Bio-Pharm', 'Biofuels',
       'Bioinformatics', 'Biomass Power Generation', 'Biometrics',
       'Biotechnology', 'Bitcoin', 'Blogging Platforms',
       'Boating Industry', 'BPO Services', 'Brand Marketing', 'Brewing',
       'Bridging Online and Offline', 'Broadcasting', 'Brokers',
       'Browser Extensions', 'Building Owners', 'Building Products',
       'Business Analytics', 'Business Development',
       'Business Information Systems', 'Business Intelligence',
       'Business Productivity', 'Business Services', 'Business Travelers',
       'Cable', 'CAD', 'Call Center Automation', 'Cannabis', 'Carbon',
       'Career Management', 'Career Planning', 'Cars', 'Casual Games',
       'Celebrity', 'Certification Test', 'Charities', 'Charity',
       'Charter Schools', 'Chat', 'Chemicals', 'Child Care',
       'China Internet', 'Civil Engineers', 'Classifieds', 'Clean Energy',
       'Clean Technology', 'Clean Technology IT', 'Clinical Trials',
       'Cloud-Based Music', 'Cloud Computing', 'Cloud Data Services',
       'Cloud Infrastructure', 'Cloud Management', 'Cloud Security',
       'Coffee', 'Collaboration', 'Collaborative Consumption',
       'Collectibles', 'College Campuses', 'College Recruiting',
       'Colleges', 'Comics', 'Commercial Real Estate', 'Commercial Solar',
       'Commodities', 'Communications Hardware',
       'Communications Infrastructure', 'Communities',
       'Comparison Shopping', 'Computer Vision', 'Computers',
       'Concentrated Solar Power', 'Concerts', 'Console Gaming',
       'Construction', 'Consulting', 'Consumer Behavior',
       'Consumer Electronics', 'Consumer Goods', 'Consumer Internet',
       'Consumer Lending', 'Consumers', 'Contact Centers',
       'Contact Management', 'Content', 'Content Creators',
       'Content Delivery', 'Content Discovery', 'Content Syndication',
       'Contests', 'Cooking', 'Corporate IT', 'Corporate Training',
       'Corporate Wellness', 'Cosmetic Surgery', 'Cosmetics', 'Coupons',
       'Coworking', 'Craft Beer', 'Creative', 'Creative Industries',
       'Credit', 'Credit Cards', 'CRM', 'Crowdfunding', 'Crowdsourcing',
       'Curated Web', 'Custom Retail', 'Customer Service',
       'Customer Support Tools', 'Cyber', 'Cyber Security',
       'Data Center Automation', 'Data Center Infrastructure',
       'Data Centers', 'Data Integration', 'Data Mining', 'Data Privacy',
       'Data Security', 'Data Visualization', 'Databases',
       'Debt Collecting', 'Defense', 'Delivery', 'Demographies', 'Dental',
       'Design', 'Designers', 'Developer APIs', 'Developer Tools',
       'Development Platforms', 'Diabetes', 'Diagnostics',
       'Dietary Supplements', 'Digital Entertainment', 'Digital Media',
       'Digital Rights Management', 'Digital Signage',
       'Direct Advertising', 'Direct Marketing', 'Direct Sales',
       'Discounts', 'Displays', 'Disruptive Models', 'Distribution',
       'Distributors', 'DIY', 'Doctors', 'Document Management',
       'DOD/Military', 'Domains', 'Drones', 'E-Books', 'E-Commerce',
       'E-Commerce Platforms', 'Early-Stage Technology', 'EBooks',
       'EDA Tools', 'Ediscovery', 'EdTech', 'Education',
       'Educational Games', 'Edutainment', 'Elder Care',
       'Electric Vehicles', 'Electrical Distribution',
       'Electronic Health Records', 'Electronics', 'Email',
       'Email Marketing', 'Email Newsletters',
       'Embedded Hardware and Software', 'Emerging Markets',
       'Employer Benefits Programs', 'Employment', 'Energy',
       'Energy Efficiency', 'Energy IT', 'Energy Management',
       'Energy Storage', 'Engineering Firms', 'Enterprise 2.na',
       'Enterprise Application', 'Enterprise Purchasing',
       'Enterprise Resource Planning', 'Enterprise Search',
       'Enterprise Security', 'Enterprise Software', 'Enterprises',
       'Entertainment', 'Entertainment Industry', 'Entrepreneur',
       'Environmental Innovation', 'Estimation and Quoting',
       'Event Management', 'Events', 'Exercise', 'Eyewear',
       'Face Recognition', 'Facebook Applications', 'Families',
       'Fantasy Sports', 'Farmers Market', 'Farming', 'Fashion',
       'Fertility', 'Field Support Services', 'File Sharing', 'Film',
       'Film Distribution', 'Film Production', 'Finance',
       'Finance Technology', 'Financial Exchanges', 'Financial Services',
       'FinTech', 'Fitness', 'Flash Sales', 'Flash Storage',
       'Fleet Management', 'Flowers', 'Fmcg', 'Food Processing', 'Forums',
       'Fraud Detection', 'Freelancers', 'Freemium', 'FreetoPlay Gaming',
       'Fruit', 'Fuel Cells', 'Fuels', 'Funeral Industry', 'Furniture',
       'Gadget', 'Gambling', 'Game', 'Game Mechanics', 'Games',
       'Gamification', 'Gas', 'Gay & Lesbian', 'General Public Worldwide',
       'Genetic Testing', 'Geospatial', 'Gift Card', 'Gift Exchange',
       'Gift Registries', 'Gold', 'Governance', 'Government Innovation',
       'Governments', 'Gps', 'Graphics', 'Green', 'Green Consumer Goods',
       'Groceries', 'Group Buying', 'Group SMS', 'Guides', 'Handmade',
       'Hardware', 'Hardware + Software', 'Health and Insurance',
       'Health and Wellness', 'Health Care',
       'Health Care Information Technology', 'Health Diagnostics',
       'Health Services Industry', 'Healthcare Services',
       'Heavy Industry', 'Hedge Funds', 'High School Students',
       'High Schools', 'High Tech', 'Home & Garden', 'Home Automation',
       'Home Decor', 'Home Owners', 'Home Renovation',
       'Homeland Security', 'Homeless Shelter', 'Hospitality',
       'Hospitals', 'Hotels', 'Human Computer Interaction',
       'Human Resource Automation', 'Human Resources', 'Humanitarian',
       'IaaS', 'ICT', 'Identity', 'Identity Management',
       'Image Recognition', 'Impact Investing', 'In-Flight Entertainment',
       'Incentives', 'Incubators', 'Independent Music Labels',
       'Independent Pharmacies', 'Indians', 'Indoor Positioning',
       'Industrial', 'Industrial Automation', 'Information Security',
       'Information Services', 'Information Technology', 'Infrastructure',
       'Innovation Engineering', 'Innovation Management', 'Insurance',
       'Intellectual Asset Management', 'Intellectual Property',
       'Intelligent Systems', 'Interest Graph', 'Interface Design',
       'Interior Design', 'Internet', 'Internet Infrastructure',
       'Internet Marketing', 'Internet of Things',
       'Internet Radio Market', 'Internet Service Providers',
       'Investment Management', 'iOS', 'iPad', 'iPhone',
       'IT and Cybersecurity', 'IT Management', 'Jewelry', 'Journalism',
       'K-12 Education', 'Kids', 'Knowledge Management', 'Landscaping',
       'Language Learning', 'Lasers', 'Law Enforcement',
       'Lead Generation', 'Lead Management', 'Legal', 'Leisure',
       'Licensing', 'Life Sciences', 'Lifestyle', 'Lifestyle Businesses',
       'Lifestyle Products', 'Lighting', 'Limousines', 'Linux', 'Local',
       'Local Advertising', 'Local Based Services', 'Local Businesses',
       'Local Commerce', 'Local Search', 'Location Based Services',
       'Logistics', 'Logistics Company', 'Lotteries', 'Low Bid Auctions',
       'Loyalty Programs', 'M2M', 'Machine Learning', 'Manufacturing',
       'Maps', 'Market Research', 'Marketing Automation', 'Marketplaces',
       'Mass Customization', 'Match-Making', 'Material Science',
       'Mechanical Solutions', 'Media', 'Medical', 'Medical Devices',
       'Medical Professionals', 'Meeting Software', 'Mens Specific',
       'Messaging', 'mHealth', 'Micro-Enterprises', 'MicroBlogging',
       'Minerals', 'Mining Technologies', 'Mobile', 'Mobile Advertising',
       'Mobile Analytics', 'Mobile Commerce', 'Mobile Devices',
       'Mobile Enterprise', 'Mobile Games', 'Mobile Health',
       'Mobile Infrastructure', 'Mobile Payments', 'Mobile Security',
       'Mobile Shopping', 'Mobile Social', 'Mobile Software Tools',
       'Mobile Video', 'Mobility', 'Monetization', 'Moneymaking',
       'Multi-level Marketing', 'Music', 'Music Education',
       'Music Services', 'Music Venues', 'Musical Instruments',
       'Musicians', 'nanotechnology', 'natural Language Processing',
       'natural Resources', 'navigation', 'Network Security',
       'Networking', 'Neuroscience', 'New Product Development',
       'New Technologies', 'News', 'Non-Tech', 'Non Profit', 'Nonprofits',
       'Nutrition', 'Office Space', 'Oil', 'Oil & Gas', 'Oil and Gas',
       'Online Dating', 'Online Education', 'Online Gaming',
       'Online Identity', 'Online Rental', 'Online Reservations',
       'Online Scheduling', 'Online Shopping', 'Online Travel',
       'Online Video Advertising', 'Open Source', 'Opinions',
       'Optical Communications', 'Optimization', 'Organic',
       'Organic Food', 'Outdoors', 'Outsourcing', 'P2P Money Transfer',
       'PaaS', 'Parenting', 'Parking', 'Payments', 'Peer-to-Peer',
       'Performance Marketing', 'Personal Branding', 'Personal Data',
       'Personal Finance', 'Personal Health', 'Personalization',
       'Pervasive Computing', 'Pets', 'Pharmaceuticals', 'Photo Editing',
       'Photo Sharing', 'Photography', 'Physical Security', 'Physicians',
       'Plumbers', 'Point of Sale', 'Politics', 'Polling', 'Portals',
       'Postal and Courier Services', 'Pre Seed', 'Predictive Analytics',
       'Presentations', 'Price Comparison', 'Printing', 'Privacy',
       'Private School', 'Private Social Networking', 'Procurement',
       'Product Design', 'Product Development Services', 'Productivity',
       'Productivity Software', 'Professional Networking',
       'Professional Services', 'Project Management', 'Promotional',
       'Property Management', 'Public Relations', 'Public Safety',
       'Public Transportation', 'Publishing', 'Q&A', 'QR Codes',
       'Real Estate', 'Real Time', 'Realtors', 'Recreation', 'Recruiting',
       'Recycling', 'Religion', 'Renewable Energies', 'Renewable Tech',
       'Rental Housing', 'Reputation', 'Resorts', 'Restaurants', 'Retail',
       'Retail Technology', 'Reviews and Recommendations', 'RFID',
       'Ride Sharing', 'Risk Management', 'Robotics', 'SaaS',
       'Sales and Marketing', 'Sales Automation', 'Search',
       'Search Marketing', 'Security',
       'Semiconductor Manufacturing Equipment', 'Semiconductors',
       'Senior Citizens', 'Senior Health', 'Sensors', 'SEO',
       'Service Industries', 'Service Providers', 'Services', 'SexTech',
       'Shared Services', 'Shipping', 'Shoes', 'Shopping', 'Simulation',
       'Skill Assessment', 'Small and Medium Businesses', 'Smart Grid',
       'SNS', 'Soccer', 'Social + Mobile + Local', 'Social Bookmarking',
       'Social Business', 'Social Buying', 'Social Commerce',
       'Social CRM', 'Social Fundraising', 'Social Games', 'Social Media',
       'Social Media Management', 'Social Media Marketing',
       'Social Media Platforms', 'Social Network Media', 'Social News',
       'Social Recruiting', 'Social Television', 'Social Travel',
       'Software', 'Solar', 'Space Travel', 'Specialty Chemicals',
       'Specialty Foods', 'Speech Recognition', 'Sporting Goods',
       'Sports', 'Staffing Firms', 'Startups', 'Stock Exchanges',
       'Storage', 'Subscription Service', 'Supply Chain Management',
       'Surveys', 'Synchronization', 'Systems', 'Task Management',
       'Taxis', 'Tea', 'Technology', 'Telecommunications', 'Television',
       'Textiles', 'Theatre', 'Therapeutics', 'Ticketing', 'Tourism',
       'Tracking', 'Trading', 'Training', 'Translation', 'Transportation',
       'Travel', 'Travel & Tourism', 'Universities',
       'University Students', 'Unmanned Air Systems', 'Usability',
       'User Experience Design', 'User Interface', 'Utilities',
       'Vending and Concessions', 'Venture Capital', 'Veterinary',
       'Video', 'Video Conferencing', 'Video Games', 'Video on Demand',
       'Video Streaming', 'Virtual Workforces', 'VoIP',
       'Waste Management', 'Watch', 'Water', 'Water Purification',
       'Wearables', 'Web Browsers', 'Web Design', 'Web Development',
       'Web Hosting', 'Web Tools', 'Weddings', 'Wholesale',
       'Wine And Spirits', 'Wireless', 'Women', 'Young Adults'],
      dtype=object)

In [62]:
mappings['category_list'] = mappings['category_list'].str.replace('.na','.0')
pd.unique(mappings.category_list)

array([nan, '3D', '3D Printing', '3D Technology', 'Accounting',
       'Active Lifestyle', 'Ad Targeting', 'Advanced Materials',
       'Adventure Travel', 'Advertising', 'Advertising Exchanges',
       'Advertising Networks', 'Advertising Platforms', 'Advice',
       'Aerospace', 'Agriculture', 'Air Pollution Control', 'Algorithms',
       'All Markets', 'All Students', 'Alte.0tive Medicine', 'Alumni',
       '.0lytics', 'Android', 'Angels', 'Animal Feed',
       'Anything Capital Intensive', 'App Discovery', 'App Marketing',
       'App Stores', 'Application Performance Monitoring',
       'Application Platforms', 'Apps', 'Aquaculture', 'Architecture',
       'Archiving', 'Art', 'Artificial Intelligence', 'Artists Globally',
       'Assisitive Technology', 'Assisted Living', 'Auctions', 'Audio',
       'Audiobooks', 'Augmented Reality', 'Auto', 'Automated Kiosk',
       'Automotive', 'B2B', 'B2B Express Delivery', 'Babies',
       'Baby Accessories', 'Baby Boomers', 'Baby Safety', 'Banking',
       'Batteries', 'Beauty', 'Bicycles', 'Big Data', 'Big Data .0lytics',
       'Billing', 'Bio-Pharm', 'Biofuels', 'Bioinformatics',
       'Biomass Power Generation', 'Biometrics', 'Biotechnology',
       'Bitcoin', 'Blogging Platforms', 'Boating Industry',
       'BPO Services', 'Brand Marketing', 'Brewing',
       'Bridging Online and Offline', 'Broadcasting', 'Brokers',
       'Browser Extensions', 'Building Owners', 'Building Products',
       'Business .0lytics', 'Business Development',
       'Business Information Systems', 'Business Intelligence',
       'Business Productivity', 'Business Services', 'Business Travelers',
       'Cable', 'CAD', 'Call Center Automation', 'Ca.0bis', 'Carbon',
       'Career M.0gement', 'Career Planning', 'Cars', 'Casual Games',
       'Celebrity', 'Certification Test', 'Charities', 'Charity',
       'Charter Schools', 'Chat', 'Chemicals', 'Child Care',
       'Ch.0 Internet', 'Civil Engineers', 'Classifieds', 'Clean Energy',
       'Clean Technology', 'Clean Technology IT', 'Clinical Trials',
       'Cloud-Based Music', 'Cloud Computing', 'Cloud Data Services',
       'Cloud Infrastructure', 'Cloud M.0gement', 'Cloud Security',
       'Coffee', 'Collaboration', 'Collaborative Consumption',
       'Collectibles', 'College Campuses', 'College Recruiting',
       'Colleges', 'Comics', 'Commercial Real Estate', 'Commercial Solar',
       'Commodities', 'Communications Hardware',
       'Communications Infrastructure', 'Communities',
       'Comparison Shopping', 'Computer Vision', 'Computers',
       'Concentrated Solar Power', 'Concerts', 'Console Gaming',
       'Construction', 'Consulting', 'Consumer Behavior',
       'Consumer Electronics', 'Consumer Goods', 'Consumer Internet',
       'Consumer Lending', 'Consumers', 'Contact Centers',
       'Contact M.0gement', 'Content', 'Content Creators',
       'Content Delivery', 'Content Discovery', 'Content Syndication',
       'Contests', 'Cooking', 'Corporate IT', 'Corporate Training',
       'Corporate Wellness', 'Cosmetic Surgery', 'Cosmetics', 'Coupons',
       'Coworking', 'Craft Beer', 'Creative', 'Creative Industries',
       'Credit', 'Credit Cards', 'CRM', 'Crowdfunding', 'Crowdsourcing',
       'Curated Web', 'Custom Retail', 'Customer Service',
       'Customer Support Tools', 'Cyber', 'Cyber Security',
       'Data Center Automation', 'Data Center Infrastructure',
       'Data Centers', 'Data Integration', 'Data Mining', 'Data Privacy',
       'Data Security', 'Data Visualization', 'Databases',
       'Debt Collecting', 'Defense', 'Delivery', 'Demographies', 'Dental',
       'Design', 'Designers', 'Developer APIs', 'Developer Tools',
       'Development Platforms', 'Diabetes', 'Diagnostics',
       'Dietary Supplements', 'Digital Entertainment', 'Digital Media',
       'Digital Rights M.0gement', 'Digital Si.0ge', 'Direct Advertising',
       'Direct Marketing', 'Direct Sales', 'Discounts', 'Displays',
       'Disruptive Models', 'Distribution', 'Distributors', 'DIY',
       'Doctors', 'Document M.0gement', 'DOD/Military', 'Domains',
       'Drones', 'E-Books', 'E-Commerce', 'E-Commerce Platforms',
       'Early-Stage Technology', 'EBooks', 'EDA Tools', 'Ediscovery',
       'EdTech', 'Education', 'Educati.0l Games', 'Edutainment',
       'Elder Care', 'Electric Vehicles', 'Electrical Distribution',
       'Electronic Health Records', 'Electronics', 'Email',
       'Email Marketing', 'Email Newsletters',
       'Embedded Hardware and Software', 'Emerging Markets',
       'Employer Benefits Programs', 'Employment', 'Energy',
       'Energy Efficiency', 'Energy IT', 'Energy M.0gement',
       'Energy Storage', 'Engineering Firms', 'Enterprise 2.0',
       'Enterprise Application', 'Enterprise Purchasing',
       'Enterprise Resource Planning', 'Enterprise Search',
       'Enterprise Security', 'Enterprise Software', 'Enterprises',
       'Entertainment', 'Entertainment Industry', 'Entrepreneur',
       'Environmental Innovation', 'Estimation and Quoting',
       'Event M.0gement', 'Events', 'Exercise', 'Eyewear',
       'Face Recognition', 'Facebook Applications', 'Families',
       'Fantasy Sports', 'Farmers Market', 'Farming', 'Fashion',
       'Fertility', 'Field Support Services', 'File Sharing', 'Film',
       'Film Distribution', 'Film Production', 'F.0nce',
       'F.0nce Technology', 'F.0ncial Exchanges', 'F.0ncial Services',
       'FinTech', 'Fitness', 'Flash Sales', 'Flash Storage',
       'Fleet M.0gement', 'Flowers', 'Fmcg', 'Food Processing', 'Forums',
       'Fraud Detection', 'Freelancers', 'Freemium', 'FreetoPlay Gaming',
       'Fruit', 'Fuel Cells', 'Fuels', 'Funeral Industry', 'Furniture',
       'Gadget', 'Gambling', 'Game', 'Game Mechanics', 'Games',
       'Gamification', 'Gas', 'Gay & Lesbian', 'General Public Worldwide',
       'Genetic Testing', 'Geospatial', 'Gift Card', 'Gift Exchange',
       'Gift Registries', 'Gold', 'Gove.0nce', 'Government Innovation',
       'Governments', 'Gps', 'Graphics', 'Green', 'Green Consumer Goods',
       'Groceries', 'Group Buying', 'Group SMS', 'Guides', 'Handmade',
       'Hardware', 'Hardware + Software', 'Health and Insurance',
       'Health and Wellness', 'Health Care',
       'Health Care Information Technology', 'Health Diagnostics',
       'Health Services Industry', 'Healthcare Services',
       'Heavy Industry', 'Hedge Funds', 'High School Students',
       'High Schools', 'High Tech', 'Home & Garden', 'Home Automation',
       'Home Decor', 'Home Owners', 'Home Renovation',
       'Homeland Security', 'Homeless Shelter', 'Hospitality',
       'Hospitals', 'Hotels', 'Human Computer Interaction',
       'Human Resource Automation', 'Human Resources', 'Humanitarian',
       'IaaS', 'ICT', 'Identity', 'Identity M.0gement',
       'Image Recognition', 'Impact Investing', 'In-Flight Entertainment',
       'Incentives', 'Incubators', 'Independent Music Labels',
       'Independent Pharmacies', 'Indians', 'Indoor Positioning',
       'Industrial', 'Industrial Automation', 'Information Security',
       'Information Services', 'Information Technology', 'Infrastructure',
       'Innovation Engineering', 'Innovation M.0gement', 'Insurance',
       'Intellectual Asset M.0gement', 'Intellectual Property',
       'Intelligent Systems', 'Interest Graph', 'Interface Design',
       'Interior Design', 'Internet', 'Internet Infrastructure',
       'Internet Marketing', 'Internet of Things',
       'Internet Radio Market', 'Internet Service Providers',
       'Investment M.0gement', 'iOS', 'iPad', 'iPhone',
       'IT and Cybersecurity', 'IT M.0gement', 'Jewelry', 'Jou.0lism',
       'K-12 Education', 'Kids', 'Knowledge M.0gement', 'Landscaping',
       'Language Learning', 'Lasers', 'Law Enforcement',
       'Lead Generation', 'Lead M.0gement', 'Legal', 'Leisure',
       'Licensing', 'Life Sciences', 'Lifestyle', 'Lifestyle Businesses',
       'Lifestyle Products', 'Lighting', 'Limousines', 'Linux', 'Local',
       'Local Advertising', 'Local Based Services', 'Local Businesses',
       'Local Commerce', 'Local Search', 'Location Based Services',
       'Logistics', 'Logistics Company', 'Lotteries', 'Low Bid Auctions',
       'Loyalty Programs', 'M2M', 'Machine Learning', 'Manufacturing',
       'Maps', 'Market Research', 'Marketing Automation', 'Marketplaces',
       'Mass Customization', 'Match-Making', 'Material Science',
       'Mechanical Solutions', 'Media', 'Medical', 'Medical Devices',
       'Medical Professi.0ls', 'Meeting Software', 'Mens Specific',
       'Messaging', 'mHealth', 'Micro-Enterprises', 'MicroBlogging',
       'Minerals', 'Mining Technologies', 'Mobile', 'Mobile Advertising',
       'Mobile .0lytics', 'Mobile Commerce', 'Mobile Devices',
       'Mobile Enterprise', 'Mobile Games', 'Mobile Health',
       'Mobile Infrastructure', 'Mobile Payments', 'Mobile Security',
       'Mobile Shopping', 'Mobile Social', 'Mobile Software Tools',
       'Mobile Video', 'Mobility', 'Monetization', 'Moneymaking',
       'Multi-level Marketing', 'Music', 'Music Education',
       'Music Services', 'Music Venues', 'Musical Instruments',
       'Musicians', 'nanotechnology', 'natural Language Processing',
       'natural Resources', 'navigation', 'Network Security',
       'Networking', 'Neuroscience', 'New Product Development',
       'New Technologies', 'News', 'Non-Tech', 'Non Profit', 'Nonprofits',
       'Nutrition', 'Office Space', 'Oil', 'Oil & Gas', 'Oil and Gas',
       'Online Dating', 'Online Education', 'Online Gaming',
       'Online Identity', 'Online Rental', 'Online Reservations',
       'Online Scheduling', 'Online Shopping', 'Online Travel',
       'Online Video Advertising', 'Open Source', 'Opinions',
       'Optical Communications', 'Optimization', 'Organic',
       'Organic Food', 'Outdoors', 'Outsourcing', 'P2P Money Transfer',
       'PaaS', 'Parenting', 'Parking', 'Payments', 'Peer-to-Peer',
       'Performance Marketing', 'Pers.0l Branding', 'Pers.0l Data',
       'Pers.0l F.0nce', 'Pers.0l Health', 'Pers.0lization',
       'Pervasive Computing', 'Pets', 'Pharmaceuticals', 'Photo Editing',
       'Photo Sharing', 'Photography', 'Physical Security', 'Physicians',
       'Plumbers', 'Point of Sale', 'Politics', 'Polling', 'Portals',
       'Postal and Courier Services', 'Pre Seed', 'Predictive .0lytics',
       'Presentations', 'Price Comparison', 'Printing', 'Privacy',
       'Private School', 'Private Social Networking', 'Procurement',
       'Product Design', 'Product Development Services', 'Productivity',
       'Productivity Software', 'Professi.0l Networking',
       'Professi.0l Services', 'Project M.0gement', 'Promoti.0l',
       'Property M.0gement', 'Public Relations', 'Public Safety',
       'Public Transportation', 'Publishing', 'Q&A', 'QR Codes',
       'Real Estate', 'Real Time', 'Realtors', 'Recreation', 'Recruiting',
       'Recycling', 'Religion', 'Renewable Energies', 'Renewable Tech',
       'Rental Housing', 'Reputation', 'Resorts', 'Restaurants', 'Retail',
       'Retail Technology', 'Reviews and Recommendations', 'RFID',
       'Ride Sharing', 'Risk M.0gement', 'Robotics', 'SaaS',
       'Sales and Marketing', 'Sales Automation', 'Search',
       'Search Marketing', 'Security',
       'Semiconductor Manufacturing Equipment', 'Semiconductors',
       'Senior Citizens', 'Senior Health', 'Sensors', 'SEO',
       'Service Industries', 'Service Providers', 'Services', 'SexTech',
       'Shared Services', 'Shipping', 'Shoes', 'Shopping', 'Simulation',
       'Skill Assessment', 'Small and Medium Businesses', 'Smart Grid',
       'SNS', 'Soccer', 'Social + Mobile + Local', 'Social Bookmarking',
       'Social Business', 'Social Buying', 'Social Commerce',
       'Social CRM', 'Social Fundraising', 'Social Games', 'Social Media',
       'Social Media M.0gement', 'Social Media Marketing',
       'Social Media Platforms', 'Social Network Media', 'Social News',
       'Social Recruiting', 'Social Television', 'Social Travel',
       'Software', 'Solar', 'Space Travel', 'Specialty Chemicals',
       'Specialty Foods', 'Speech Recognition', 'Sporting Goods',
       'Sports', 'Staffing Firms', 'Startups', 'Stock Exchanges',
       'Storage', 'Subscription Service', 'Supply Chain M.0gement',
       'Surveys', 'Synchronization', 'Systems', 'Task M.0gement', 'Taxis',
       'Tea', 'Technology', 'Telecommunications', 'Television',
       'Textiles', 'Theatre', 'Therapeutics', 'Ticketing', 'Tourism',
       'Tracking', 'Trading', 'Training', 'Translation', 'Transportation',
       'Travel', 'Travel & Tourism', 'Universities',
       'University Students', 'Unmanned Air Systems', 'Usability',
       'User Experience Design', 'User Interface', 'Utilities',
       'Vending and Concessions', 'Venture Capital', 'Veter.0ry', 'Video',
       'Video Conferencing', 'Video Games', 'Video on Demand',
       'Video Streaming', 'Virtual Workforces', 'VoIP', 'Waste M.0gement',
       'Watch', 'Water', 'Water Purification', 'Wearables',
       'Web Browsers', 'Web Design', 'Web Development', 'Web Hosting',
       'Web Tools', 'Weddings', 'Wholesale', 'Wine And Spirits',
       'Wireless', 'Women', 'Young Adults'], dtype=object)

- ### Now inner join data based upon category list and primary sector , As we are doing inner join so rows with all the blank category list will be nullified

In [63]:
master_frame =pd.merge(master_frame ,mapdf[['category_list','main_sector']], how='inner', left_on=['primary_sector'], right_on=['category_list'])
master_frame.head()

,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,...,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,category_list_y,main_sector
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00,India,IND,Media,Media,Entertainment
1,/ORGANIZATION/INC42,Inc42,http://inc42.com/,Media,operating,IND,7,New Delhi,New Delhi,01-01-2014,...,/funding-round/d5e89dc6cd96d3a786a9e19cc4f8a907,seed,NaN,08-01-2014,nan,India,IND,Media,Media,Entertainment
2,/ORGANIZATION/MANAS-INFORMATICS,Manas Informatic,http://www.topnews.in,Media|News,operating,IND,23,Mohali,Mohali,05-05-2007,...,/funding-round/719e50301803d3918ffa558fc877e41c,venture,NaN,02-02-2008,160000.00,India,IND,Media,Media,Entertainment
3,/ORGANIZATION/SUN-ANIMATICS-INDIA,Sun Animatics,http://www.sunanimatics.com,Media|News|Photography|Video,operating,IND,2,Hyderabad,Hyderabad,16-06-2014,...,/funding-round/d1510e295203f7ff9d5afd270930bec1,equity_crowdfunding,NaN,13-11-2010,nan,India,IND,Media,Media,Entertainment
4,/ORGANIZATION/A-B-PRODUCTIONS,A.B Productions,NaN,Media|Music|News,operating,USA,CA,Los Angeles,Los Angeles,11-12-2012,...,/funding-round/23bab180ab73f0dcc3f555bebdf89ade,debt_financing,NaN,21-01-2014,nan,United States,USA,Media,Media,Entertainment

In [64]:
#Renaming the column category_list_x to category_list 
master_frame.rename(columns={'category_list_x':'category_list'}, inplace = 'True')
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,category_list_y,main_sector
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00,India,IND,Media,Media,Entertainment
1,/ORGANIZATION/INC42,Inc42,http://inc42.com/,Media,operating,IND,7,New Delhi,New Delhi,01-01-2014,...,/funding-round/d5e89dc6cd96d3a786a9e19cc4f8a907,seed,NaN,08-01-2014,nan,India,IND,Media,Media,Entertainment
2,/ORGANIZATION/MANAS-INFORMATICS,Manas Informatic,http://www.topnews.in,Media|News,operating,IND,23,Mohali,Mohali,05-05-2007,...,/funding-round/719e50301803d3918ffa558fc877e41c,venture,NaN,02-02-2008,160000.00,India,IND,Media,Media,Entertainment
3,/ORGANIZATION/SUN-ANIMATICS-INDIA,Sun Animatics,http://www.sunanimatics.com,Media|News|Photography|Video,operating,IND,2,Hyderabad,Hyderabad,16-06-2014,...,/funding-round/d1510e295203f7ff9d5afd270930bec1,equity_crowdfunding,NaN,13-11-2010,nan,India,IND,Media,Media,Entertainment
4,/ORGANIZATION/A-B-PRODUCTIONS,A.B Productions,NaN,Media|Music|News,operating,USA,CA,Los Angeles,Los Angeles,11-12-2012,...,/funding-round/23bab180ab73f0dcc3f555bebdf89ade,debt_financing,NaN,21-01-2014,nan,United States,USA,Media,Media,Entertainment

In [65]:
#dropping column category_list_y
master_frame = master_frame.drop(['category_list_y'] , axis = 1)
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00,India,IND,Media,Entertainment
1,/ORGANIZATION/INC42,Inc42,http://inc42.com/,Media,operating,IND,7,New Delhi,New Delhi,01-01-2014,/ORGANIZATION/INC42,/funding-round/d5e89dc6cd96d3a786a9e19cc4f8a907,seed,NaN,08-01-2014,nan,India,IND,Media,Entertainment
2,/ORGANIZATION/MANAS-INFORMATICS,Manas Informatic,http://www.topnews.in,Media|News,operating,IND,23,Mohali,Mohali,05-05-2007,/ORGANIZATION/MANAS-INFORMATICS,/funding-round/719e50301803d3918ffa558fc877e41c,venture,NaN,02-02-2008,160000.00,India,IND,Media,Entertainment
3,/ORGANIZATION/SUN-ANIMATICS-INDIA,Sun Animatics,http://www.sunanimatics.com,Media|News|Photography|Video,operating,IND,2,Hyderabad,Hyderabad,16-06-2014,/ORGANIZATION/SUN-ANIMATICS-INDIA,/funding-round/d1510e295203f7ff9d5afd270930bec1,equity_crowdfunding,NaN,13-11-2010,nan,India,IND,Media,Entertainment
4,/ORGANIZATION/A-B-PRODUCTIONS,A.B Productions,NaN,Media|Music|News,operating,USA,CA,Los Angeles,Los Angeles,11-12-2012,/ORGANIZATION/A-B-PRODUCTIONS,/funding-round/23bab180ab73f0dcc3f555bebdf89ade,debt_financing,NaN,21-01-2014,nan,United States,USA,Media,Entertainment

In [66]:
master_frame.shape

(79959, 20)

-  ### Checkpoint 5- Sector Analysis 2

- ### As Spark Funds want to invest only between 5 -15 Million so we applied check on raised amount funded for 5 to 15 million

In [67]:
## First data frame D1 for top most Country for funded type = 'Venture'

D1=pd.DataFrame(master_frame.loc[(master_frame['Country'] ==top9.index[0]) & (master_frame['funding_round_type']== most_suitable_ft)& 
                                 (master_frame['raised_amount_usd'].between(5000000 , 15000000))])

D1['total_amount_invested']= D1.groupby('main_sector')['raised_amount_usd'].transform('sum')
D1['total_investment_count']= D1.groupby('main_sector')['raised_amount_usd'].transform('count')

D1.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count
9,/ORGANIZATION/ALL-DEF-DIGITAL,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,...,venture,A,06-08-2014,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580
33,/ORGANIZATION/CHEFS-FEED,ChefsFeed,http://www.chefsfeed.com,Media|Mobile|Restaurants|Technology,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012,...,venture,A,26-02-2015,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580
69,/ORGANIZATION/HUFFINGTONPOST,The Huffington Post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,...,venture,A,01-08-2006,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580
70,/ORGANIZATION/HUFFINGTONPOST,The Huffington Post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,...,venture,B,01-09-2007,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580
87,/ORGANIZATION/MATCHMINE,MatchMine,http://matchmine.com,Media|News|Reviews and Recommendations,closed,USA,MA,Boston,Needham,01-01-2007,...,venture,A,01-09-2007,10000000.00,United States,USA,Media,Entertainment,5000212982.00,580

In [68]:
D1.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count
79861,/ORGANIZATION/RXWIKI,"RxWiki, Inc.",http://www.rxwiki.com,Independent Pharmacies|Mobile Health|Pharmaceu...,operating,USA,TX,Austin,Austin,01-03-2012,...,venture,A,16-10-2015,5745869.00,United States,USA,Independent Pharmacies,Health,8200859357.00,908
79862,/ORGANIZATION/TIKVAH-THERAPEUTICS,Tikvah Therapeutics,NaN,Independent Pharmacies|Neuroscience,operating,USA,GA,Atlanta,Atlanta,NaN,...,venture,NaN,14-07-2007,10000000.00,United States,USA,Independent Pharmacies,Health,8200859357.00,908
79863,/ORGANIZATION/SAHARA-MEDIA-HOLDINGS,Sahara Media Holdings,NaN,Lifestyle Businesses|Media|Publishing,operating,USA,NY,New York City,New York,NaN,...,venture,NaN,01-10-2008,8157678.00,United States,USA,Lifestyle Businesses,Entertainment,5000212982.00,580
79902,/ORGANIZATION/THISNEXT,ThisNext,http://www.thisnext.com,Social Buying|Social Media,operating,USA,CA,Los Angeles,Santa Monica,01-12-2005,...,venture,B,01-01-2008,5000000.00,United States,USA,Social Buying,"Social, Finance, Analytics, Advertising",16680695048.00,1912
79917,/ORGANIZATION/USER-INTERFACE,User Interface,http://www.userinterface.com,User Interface,operating,USA,CA,Bakersfield,California City,NaN,...,venture,A,24-01-2001,8250000.00,United States,USA,User Interface,Others,26089280296.00,2923

In [69]:

## Second data frame D2 for Second  Country for funded type = 'Venture'

D2=pd.DataFrame(master_frame.loc[(master_frame['Country'] ==top9.index[1]) & (master_frame['funding_round_type']== most_suitable_ft)& 
                                 (master_frame['raised_amount_usd'].between(5000000 , 15000000))])

D2['total_amount_invested']= D2.groupby('main_sector')['raised_amount_usd'].transform('sum')
D2['total_investment_count']= D2.groupby('main_sector')['raised_amount_usd'].transform('count')

D2.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count
194,/ORGANIZATION/90MIN,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,...,venture,NaN,06-10-2015,15000000.00,United Kingdom,GBR,Media,Entertainment,461511059.00,54
195,/ORGANIZATION/90MIN,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,...,venture,NaN,07-05-2013,5800000.00,United Kingdom,GBR,Media,Entertainment,461511059.00,54
397,/ORGANIZATION/WAHANDA,Wahanda,http://www.wahanda.com,Beauty|Curated Web|Fitness|Health and Wellness...,acquired,GBR,H9,London,London,14-02-2008,...,venture,B,17-10-2011,8682611.00,United Kingdom,GBR,Beauty,Health,214537510.00,24
3057,/ORGANIZATION/ACS-CLOTHING,ACS Clothing,http://hirewear.co.uk,E-Commerce,operating,GBR,V2,Glasgow,Glasgow,01-01-1997,...,venture,NaN,28-09-2015,13359377.00,United Kingdom,GBR,E-Commerce,Others,1249124289.00,143
3058,/ORGANIZATION/ACS-CLOTHING,ACS Clothing,http://hirewear.co.uk,E-Commerce,operating,GBR,V2,Glasgow,Glasgow,01-01-1997,...,venture,NaN,02-03-2014,12879637.00,United Kingdom,GBR,E-Commerce,Others,1249124289.00,143

In [70]:

## Third data frame D3 for Third  Country for funded type = 'Venture'

D3=pd.DataFrame(master_frame.loc[(master_frame['Country'] ==top9.index[2]) & (master_frame['funding_round_type']== most_suitable_ft)& 
                                 (master_frame['raised_amount_usd'].between(5000000 , 15000000))])

D3['total_amount_invested']= D3.groupby('main_sector')['raised_amount_usd'].transform('sum')
D3['total_investment_count']= D3.groupby('main_sector')['raised_amount_usd'].transform('count')

D3.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,venture,B,05-01-2015,10000000.00,India,IND,Media,Entertainment,280830000.00,33
547,/ORGANIZATION/21DIAMONDS-INDIA,21Diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,...,venture,C,15-11-2012,6369507.00,India,IND,E-Commerce,Others,1007409507.00,109
558,/ORGANIZATION/BESTYLISH-COM,beStylish.com,http://www.bestylish.com,E-Commerce|Fashion|Shoes,closed,IND,10,New Delhi,Gurgaon,10-05-2011,...,venture,A,01-06-2012,10000000.00,India,IND,E-Commerce,Others,1007409507.00,109
585,/ORGANIZATION/CARATLANE,CaratLane,http://www.caratlane.com,E-Commerce|Jewelry,operating,IND,25,Chennai,Chennai,01-10-2008,...,venture,A,22-06-2011,6000000.00,India,IND,E-Commerce,Others,1007409507.00,109
586,/ORGANIZATION/CARATLANE,CaratLane,http://www.caratlane.com,E-Commerce|Jewelry,operating,IND,25,Chennai,Chennai,01-10-2008,...,venture,C,13-05-2013,15000000.00,India,IND,E-Commerce,Others,1007409507.00,109

- ### Check the count of investment for Top 3 Countries

In [71]:
Country1_count_investment = D1['raised_amount_usd'].count()
print(Country1_count_investment)

Country2_count_investment = D2['raised_amount_usd'].count()
print(Country2_count_investment)

Country3_count_investment = D3['raised_amount_usd'].count()
print(Country3_count_investment)

11235
584
301

In [72]:
D2.count()

permalink                  584
name                       584
homepage_url               555
category_list              577
status                     584
country_code               584
state_code                 569
region                     554
city                       554
founded_at                 462
company_permalink          584
funding_round_permalink    584
funding_round_type         584
funding_round_code         360
funded_at                  584
raised_amount_usd          584
Country                    584
Code                       584
primary_sector             577
main_sector                584
total_amount_invested      584
total_investment_count     584
dtype: int64

- ### Check the total amount of investment for each country

In [73]:
Country1_amount_investment = D1['raised_amount_usd'].sum()
print(Country1_amount_investment)

Country2_amount_investment = D2['raised_amount_usd'].sum()
print(Country2_amount_investment)

Country3_amount_investment = D3['raised_amount_usd'].sum()
print(Country3_amount_investment)

100426287841.0
5086469206.0
2710537552.0

- ### Check the top 3 sector (No of investment wise)

In [74]:
D11=D1.sort_values(by=['total_investment_count'] ,ascending = False )


D11=D11.drop_duplicates('total_investment_count',keep='first')


D11top=D11.head(3)

D11top[['main_sector','total_investment_count']]

                                   main_sector  total_investment_count
38313                                   Others                    2923
41540               Cleantech / Semiconductors                    2297
16974  Social, Finance, Analytics, Advertising                    1912

In [75]:
D21=D2.sort_values(by=['total_investment_count'] ,ascending = False )


D21=D21.drop_duplicates('total_investment_count',keep='first')


D21top=D21.head(3)

D21top[['main_sector','total_investment_count']]

                                   main_sector  total_investment_count
13838                                   Others                     143
37735               Cleantech / Semiconductors                     127
49582  Social, Finance, Analytics, Advertising                      98

In [76]:
D31=D3.sort_values(by=['total_investment_count'] ,ascending = False )


D31=D31.drop_duplicates('total_investment_count',keep='first')


D31top=D31.head(3)

D31top[['main_sector','total_investment_count']]

                      main_sector  total_investment_count
32716                      Others                     109
27033  News, Search and Messaging                      52
51252               Entertainment                      33

- ### find out which company received the highest investment for Sector(Point 3)

In [77]:
D1A=D1
D1A['company_amount_invested']= D1A.groupby(['main_sector', 'permalink'])['raised_amount_usd'].transform('sum')

In [78]:
D1A.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count,company_amount_invested
9,/ORGANIZATION/ALL-DEF-DIGITAL,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,...,A,06-08-2014,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580,5000000.00
33,/ORGANIZATION/CHEFS-FEED,ChefsFeed,http://www.chefsfeed.com,Media|Mobile|Restaurants|Technology,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012,...,A,26-02-2015,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580,5000000.00
69,/ORGANIZATION/HUFFINGTONPOST,The Huffington Post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,...,A,01-08-2006,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580,10000000.00
70,/ORGANIZATION/HUFFINGTONPOST,The Huffington Post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,...,B,01-09-2007,5000000.00,United States,USA,Media,Entertainment,5000212982.00,580,10000000.00
87,/ORGANIZATION/MATCHMINE,MatchMine,http://matchmine.com,Media|News|Reviews and Recommendations,closed,USA,MA,Boston,Needham,01-01-2007,...,A,01-09-2007,10000000.00,United States,USA,Media,Entertainment,5000212982.00,580,10000000.00

In [79]:
D1A=D1A.sort_values(by=['total_investment_count' ,  'company_amount_invested' , 'permalink'] ,ascending = False )

D1A=D1A.drop_duplicates(['main_sector'], keep='first')

D1A[['permalink' ,'main_sector','total_investment_count','company_amount_invested']]

,permalink,main_sector,total_investment_count,company_amount_invested
31816,/ORGANIZATION/VIRTUSTREAM,Others,2923,64300000.00
40920,/ORGANIZATION/BIODESIX,Cleantech / Semiconductors,2297,75300000.00
57299,/ORGANIZATION/INTACCT,"Social, Finance, Analytics, Advertising",1912,61800000.00
4824,/ORGANIZATION/AIRSPAN-NETWORKS,"News, Search and Messaging",1563,81769000.00
59808,/ORGANIZATION/ENDOGASTRIC-SOLUTIONS,Health,908,67896724.00
25492,/ORGANIZATION/CONTROL4,Manufacturing,799,55700000.00
67904,/ORGANIZATION/AVNERA,Entertainment,580,71062970.00
28991,/ORGANIZATION/ZERO-MOTORCYCLES,Automotive & Sports,167,38124220.00
49685,/ORGANIZATION/ACCELERATOR-CORP,Blanks,86,26800000.00

In [80]:
D2A=D2
D2A['company_amount_invested']= D2A.groupby(['main_sector', 'permalink'])['raised_amount_usd'].transform('sum')

In [81]:
D2A.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count,company_amount_invested
194,/ORGANIZATION/90MIN,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,...,NaN,06-10-2015,15000000.00,United Kingdom,GBR,Media,Entertainment,461511059.00,54,20800000.00
195,/ORGANIZATION/90MIN,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,...,NaN,07-05-2013,5800000.00,United Kingdom,GBR,Media,Entertainment,461511059.00,54,20800000.00
397,/ORGANIZATION/WAHANDA,Wahanda,http://www.wahanda.com,Beauty|Curated Web|Fitness|Health and Wellness...,acquired,GBR,H9,London,London,14-02-2008,...,B,17-10-2011,8682611.00,United Kingdom,GBR,Beauty,Health,214537510.00,24,8682611.00
3057,/ORGANIZATION/ACS-CLOTHING,ACS Clothing,http://hirewear.co.uk,E-Commerce,operating,GBR,V2,Glasgow,Glasgow,01-01-1997,...,NaN,28-09-2015,13359377.00,United Kingdom,GBR,E-Commerce,Others,1249124289.00,143,26239014.00
3058,/ORGANIZATION/ACS-CLOTHING,ACS Clothing,http://hirewear.co.uk,E-Commerce,operating,GBR,V2,Glasgow,Glasgow,01-01-1997,...,NaN,02-03-2014,12879637.00,United Kingdom,GBR,E-Commerce,Others,1249124289.00,143,26239014.00

In [82]:
D2A=D2A.sort_values(by=['total_investment_count' ,  'company_amount_invested' , 'permalink'] ,ascending = False )

D2A=D2A.drop_duplicates(['main_sector'], keep='first')

D2A[['permalink' ,'main_sector','total_investment_count','company_amount_invested']]

,permalink,main_sector,total_investment_count,company_amount_invested
13837,/ORGANIZATION/ELECTRIC-CLOUD,Others,143,37000000.00
48255,/ORGANIZATION/EUSA-PHARMA,Cleantech / Semiconductors,127,35600000.00
18367,/ORGANIZATION/CELLTICK-TECHNOLOGIES,"Social, Finance, Analytics, Advertising",98,37500000.00
7093,/ORGANIZATION/UBIQUISYS,"News, Search and Messaging",73,37000000.00
8420,/ORGANIZATION/MIND-CANDY,Entertainment,54,20860000.00
26954,/ORGANIZATION/NUJIRA,Manufacturing,42,29550000.00
61583,/ORGANIZATION/GLYSURE,Health,24,24412621.00
69527,/ORGANIZATION/GREENROAD-TECHNOLOGIES,Automotive & Sports,16,52500000.00
50802,/ORGANIZATION/PARAGON-SOFTWARE-3,Blanks,7,14000000.00

In [83]:
D3A=D3
D3A['company_amount_invested']= D3A.groupby(['main_sector', 'permalink'])['raised_amount_usd'].transform('sum')

In [84]:
D3A.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,funding_round_code,funded_at,raised_amount_usd,Country,Code,primary_sector,main_sector,total_amount_invested,total_investment_count,company_amount_invested
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,B,05-01-2015,10000000.00,India,IND,Media,Entertainment,280830000.00,33,10000000.00
547,/ORGANIZATION/21DIAMONDS-INDIA,21Diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,...,C,15-11-2012,6369507.00,India,IND,E-Commerce,Others,1007409507.00,109,6369507.00
558,/ORGANIZATION/BESTYLISH-COM,beStylish.com,http://www.bestylish.com,E-Commerce|Fashion|Shoes,closed,IND,10,New Delhi,Gurgaon,10-05-2011,...,A,01-06-2012,10000000.00,India,IND,E-Commerce,Others,1007409507.00,109,10000000.00
585,/ORGANIZATION/CARATLANE,CaratLane,http://www.caratlane.com,E-Commerce|Jewelry,operating,IND,25,Chennai,Chennai,01-10-2008,...,A,22-06-2011,6000000.00,India,IND,E-Commerce,Others,1007409507.00,109,21000000.00
586,/ORGANIZATION/CARATLANE,CaratLane,http://www.caratlane.com,E-Commerce|Jewelry,operating,IND,25,Chennai,Chennai,01-10-2008,...,C,13-05-2013,15000000.00,India,IND,E-Commerce,Others,1007409507.00,109,21000000.00

In [85]:
D3A=D3A.sort_values(by=['total_investment_count' ,  'company_amount_invested' , 'permalink'] ,ascending = False )

D3A=D3A.drop_duplicates(['main_sector'], keep='first')

D3A[['permalink' ,'main_sector','total_investment_count','company_amount_invested']]

,permalink,main_sector,total_investment_count,company_amount_invested
622,/ORGANIZATION/FIRSTCRY-COM,Others,109,39000000.00
4696,/ORGANIZATION/GUPSHUP-TECHNOLOGY-INDIA-PVT-LTD,"News, Search and Messaging",52,33000000.00
51276,/ORGANIZATION/YEBHI,Entertainment,33,21000000.00
14978,/ORGANIZATION/KOMLI-MEDIA,"Social, Finance, Analytics, Advertising",32,28000000.00
62162,/ORGANIZATION/IYOGI,Manufacturing,21,24500000.00
35466,/ORGANIZATION/AZURE-POWER,Cleantech / Semiconductors,20,47200000.00
59040,/ORGANIZATION/MYDENTIST,Health,19,18000000.00
57095,/ORGANIZATION/MAKEMYTRIP-COM,Automotive & Sports,13,28000000.00
49666,/ORGANIZATION/TASKBUCKS,Blanks,2,15000000.00